[2016-05-20 16:23] ryanleesipes opened #1 "Wolfram Alpha Skill Not Responding"
The WA skill does not act as the fallback, as it should.

[2016-05-20 18:01] ikeydoherty opened #2 "[Meta] Various codebase issues restricting collaboration and deployment"
- [x] Python files completely lack license headers - unsuitable for collaboration
- [x] Codebase is not PEP8 compliant.
- [x] Build system is super funky and has tunnel-vision for Ubuntu

PEP8 issues:

[code]

[2016-05-20 18:08] ikeydoherty commented on #2
Obviously item 3 isn't and shouldn't be an immediate goal for Mycroft as you're deploying on Ubuntu right now, and community contributions should resolve that. However the other issues are definitely big issues that fall into the domain of Mycroft developers.

[2016-05-20 18:10] clusterfudge commented on #2
Hey Ikey, thanks for opening this up! I'll be the first to admit that Mycroft-core did not get the same loving cleanup that Adapt got prior to release. I'd recommend opening each of these a separate github issues (and feel free to keep this open as an uber-ticket) to be attacked independently.

Specifically on the pep8 issues, once we're in a good state, I'd be happy to add pep8 validation to our

[2016-05-20 18:16] ikeydoherty commented on #2
No worries - just doing my bit as I saw it got newly launched :)

[2016-05-20 18:17] ikeydoherty opened #3 "Python files lack license headers"
To better suit collaboration and transparency, all Python files should carry a valid license header.

This is a sub-issue of issue #2

[2016-05-20 18:18] ryanleesipes commented on #2
Yeah Ikey, thanks for popping this in the issue tracker! We've been pretty heads-down trying to get this out the door! We could use your feedback and even some commits if you are up for it to help square us! I'd love to pop up a Mycroft-Solus-Desktop repo or something, to get it enabled as a plugin for the desktop or something (maybe even displaying answers in that sexy sidebar you guys have!

[2016-05-20 18:19] ikeydoherty opened #4 "Codebase is not PEP8 compliant"
To better suit collaboration (and clean code) the codebase should be entirely PEP8 compliant.

`autopep8` might be the saving grace for the initial step here. A test should also be added, perhaps
as part of Travis CI. Might want to add pipe exit code checking here.

`find . -name "*.py"` | xargs pep8

This is a subtask of issue #2

[2016-05-20 18:24] ikeydoherty commented on #2
@ryanleesipes A Raven plugin is actually a very interesting concept. Budgie uses libpeas which supports Python plugins, however it is Python 3 only, I'll need to work that bit out. I'm puzzled as to why Mycroft isn't using Python 3?

[2016-05-20 19:01] elopio opened #5 "On the profile page of the cerberus website, the save button shows no message"
When I update my profile and cerberus and hit save, nothing seems to happen. The profile seems to be updated properly because when I refresh the page it has the new values, but no message is shown.

Steps to reproduce:
Go to https://cerberus.mycroft.ai/profile
Edit the location field
Click the Save button

[2016-05-20 19:02] aatchison commented on #5
Thanks! This is a known bug that we are busy resolving as we speak.
On May 20, 2016 2:01 PM, "Leo Arias" <notifications@github.com> wrote:

[2016-05-20 19:07] elopio opened #6 "On the cerberus website, the selected menu item doesn't get the selected style"
On the cerberus website there is a main menu with Home, Profile, Register and Devices items. The selected item seems to be marked with a blue underline, but this underline is always under the Home item even if other is selected.

The attached screenshot shows the Devices page open, but the page shows no indication that it is the active menu item.
![ekrankopio de 2016-05-20 13-01-23](https://cloud.

[2016-05-20 19:09] elopio opened #7 "On the devices page of the cerberus website, an empty table is shown"
When I have no devices registered and go to the devices page in the cerberus website, it shows the headers of the table with no contents.

That is weird. I think that it would be nicer if it just displayed the button to register a new device, or maybe a message saying that you have no registered devices, instead of the table.

![ekrankopio de 2016-05-20 13-01-23](https://cloud.githubusercontent.co

[2016-05-20 19:10] aatchison commented on #6
Thanks, this is also another known issue we are working on. ;)
On May 20, 2016 2:07 PM, "Leo Arias" <notifications@github.com> wrote:

[2016-05-20 19:13] Explouad opened #8 "Links incorrect on docs website."
Multiple links lead to
https://github.com/MycroftAI/mycroft
as opposed to
https://github.com/MycroftAI/mycroft-core

Specifically, the links on https://docs.mycroft.ai/development/skills-sdk are broken.

[2016-05-20 19:19] elopio opened #9 "On the register page of the cerberus webiste, it's possible to try to submit without a code"
When I hit the submit button without entering a code, I get back an error message saying: Failed to pair with device. I think it would be better if the button was disabled until I entered a code.

![ekrankopio de 2016-05-20 13-10-27](https://cloud.githubusercontent.com/assets/617831/15439265/55674dc6-1e8d-11e6-8a7a-14751289b733.png)

To reproduce:
Go to https://cerberus.mycroft.ai/register
Click t

[2016-05-20 19:22] ryanleesipes commented on #8
Thanks! The docs have a repo, so I can hit this - or if you want to beat me to it the repo is at https://github.com/MycroftAI/mycroft-core-documentation !

[2016-05-20 19:26] elopio opened #10 "The cerberus website has two different urls for pairing/registering"
When I go to the devices page and click the Register New Device button, it takes me to https://cerberus.mycroft.ai/pairing.html
![ekrankopio de 2016-05-20 13-20-58](https://cloud.githubusercontent.com/assets/617831/15439499/48001f04-1e8e-11e6-848f-11ea6abbf696.png)

When I click the register menu, it takes me instead to https://cerberus.mycroft.ai/register
![ekrankopio de 2016-05-20 13-21-11](http

[2016-05-20 19:28] Explouad commented on #8
Sorry, on my phone currently. You can close it when you remedy it. Glad to help.

[2016-05-20 19:30] elopio opened #11 "Extra period in the anonymous cerberus main page"
The page says: Use this portal to pair Mycroft devices with your account and manage configuration..

There is an extra period at the end of that sentence.
![ekrankopio de 2016-05-20 13-27-30](https://cloud.githubusercontent.com/assets/617831/15439688/f9e72e6a-1e8e-11e6-9047-12063b2d6638.png)

To reproduce:
Go to https://cerberus.mycroft.ai/
If you are logged in, click log out.

[2016-05-20 19:30] Explouad opened #12 "[META] Consider open sourcing websites?"
There seems to be a lot of issues that seem to be fixable if the websites went open side

[2016-05-20 19:31] Explouad commented on #12
Went open source.* Is this possible? Just a suggestion.

[2016-05-20 19:41] ryanleesipes commented on #12
@Explouad I agree! We are working to open source as many components as possible, with Cerberus we really have to decouple it from the rest of our company services in order to open it up. But as for docs and the community website (somebody registered mycroft.community writing this comment right now). Those certainly need to be opened up as soon as possible!

[2016-05-20 19:42] jdorleans commented on #1
PR #13

[2016-05-20 19:42] elopio commented on #4
pep8 is so much fun ^_^
I'll be back with a PR.

[2016-05-20 19:48] ryanleesipes commented on #4
Thank you @elopio!

[2016-05-20 19:49] Explouad commented on #8
Resolved with PR #1

[2016-05-20 19:49] #8 closed

[2016-05-20 19:56] #11 closed

[2016-05-20 20:11] #1 closed

[2016-05-20 20:31] jdorleans opened #14 "Listener Improvements"
1. To prevent many of the listener "dead state" (avoiding unwanted exceptions to break the loop)
2. Wake up must work for both "mycroft wake up" and "wake up mycroft"
3. To ensure "mycroft" keyword is always detected when it exists
4. To rely on "mycroft" instead of "hey mycroft"
5. To process "ok", "okay" and "allright" as part of the wake word detection
6. Faster and more precise Wakeword extrac

[2016-05-20 20:44] Dark5ide commented on #2
The code also requires comments. Please, for all new code (and old one), comment it. It will easier for new developers to help you.

[2016-05-20 22:23] elopio opened #17 "The code files don't have a copyright header"
All the code files in the project must have a copyright header:

https://www.gnu.org/licenses/gpl-howto.html

[2016-05-20 22:30] elopio opened #18 "The code doesn't pass the flakes static checks"
⟫ pyflakes .
./mycroft/client/text/cli.py:44: local variable 'e' is assigned to but never used
./mycroft/client/speech/listener.py:350: local variable 'e' is assigned to but never used
./mycroft/client/speech/main.py:90: local variable 'e' is assigned to but never used
./mycroft/client/speech/wakeword_recognizer.py:5: 'sys' imported but unused
./mycroft/client/speech/wakeword_recognizer.py:7: 'fro

[2016-05-20 22:36] elopio opened #19 "some functions are too complex"
Anything with a mccabe number greater than 10 is way too complex.

⟫ flake8 --max-complexity=10 . | grep complex
./mycroft/client/speech/mic.py:106:1: C901 'Recognizer.listen' is too complex (16)
./mycroft/client/speech/recognizer_wrapper.py:59:1: C901 'CerberusGoogleProxy.transcribe' is too complex (11)

Getting the complexity even lower than 10 is great for readability.

[2016-05-21 01:04] WarriorIng64 commented on #17
Isn't this a duplicate of issue #3 ?

[2016-05-21 02:11] ikeydoherty commented on #17
@WarriorIng64 yes it is a duplicate

[2016-05-21 02:12] ikeydoherty commented on #18
@elopio i would argue this is a duplicate of (or candidate for merge with) #4

[2016-05-21 02:13] ikeydoherty commented on #18
@elopio also see #2 where I iterated these issues that you've raised.

[2016-05-21 02:43] elopio commented on #17
You are right.

[2016-05-21 02:43] #17 closed

[2016-05-21 14:41] aatchison opened #21 "Mimic is not installed correctly"
Having this error, after a fresh setup.

  File "/home/aatchison/mycroft-core/mycroft/client/speech/main.py", line 13, in <module>
    tts = tts_factory.create()
  File "/home/aatchison/mycroft-core/mycroft/tts/tts_factory.py", line 33, in create
    mimic_tts.MimicValidator().validate(tts)
  File "/home/aatchison/mycroft-core/mycroft/tts/__init__.py", line 43, in validate
    self.validate_connec

[2016-05-21 16:12] ChristopherRios7 opened #23 "Update .26 issues"
Beware of this update, arduino side of the device not responding after update.

[2016-05-21 16:15] ChristopherRios7 opened #24 "NPR skill issue"
There is an issue with the NPR news skill, there is no way to stop this skill when it is activated. You cannot stop the skill by clicking the button.

The only way to stop it, from my experience is to SSH the device and perform 'sudo reboot'.

[2016-05-21 16:24] Wolfgange3311999 commented on #14
Reposting what was said on this, for #4 and possibly #3 thew threshold parameter should be decreased when changing the keyword to only Mycroft.

As for #5 (and I think #2) I was thinking of having an array of pocketsphinx wakeword recognizers for each preposition ('hey mycroft', 'okay mycroft', etc) and it tests to find the one that has been detected and passes that wakeword recognizer to the wake

[2016-05-21 16:42] Wolfgange3311999 commented on #18
@ikeydoherty I could be wrong but it seems like autopep8 only deals with formatting whereas pyflakes deals with unused variables and imports.

[2016-05-22 00:22] #6 closed

[2016-05-22 00:23] #7 closed

[2016-05-22 00:25] #10 closed

[2016-05-22 00:58] #21 closed

[2016-05-22 23:22] stuartlangridge opened #28 "Arithmetic sums are recognised but reported weirdly"
"Hey Mycroft, what's two plus two?"

    2016-05-23 00:17:57,332 - SpeechClient - INFO - Utterance: [u'whats 2 plus 2']
    2016-05-23 00:17:57,341 - METRICS - DEBUG - {"attributes": {"version": "dev-9aa9f47", "utterances": ["whats 2 plus 2"]}, "levels": {}, "timers": {"mycroft.stt.remote.time_s": [1.7695190906524658], "mycroft.cerberus.proxy.client.time_s": [1.7695190906524658], "mycroft.recogniz

[2016-05-22 23:26] Wolfgange3311999 commented on #28
I believe at the moment it goes through Wolfram Alpha. If I'm not mistaken then we need some sort of MathSkill.

[2016-05-22 23:28] stuartlangridge commented on #28
Sure, but Wolfram Alpha knows the right answer here -- http://www.wolframalpha.com/input/?i=2+plus+2 -- which suggests that it's a problem in how it's being asked?

[2016-05-23 00:22] ryanleesipes opened #29 "Mimic by Default"
This should be the case. Better quality and we maintain the project. Just makes sense.

[2016-05-23 02:53] Wolfgange3311999 opened #30 "Create unit tests for mic.py with more audio files to test"
This should feed a set of recordings into the `listen` method and verify that in each one the wakeword is correctly detected.

To best simulate real-world situations it might be necessary to have a period of white noise or minimal background noise before the voice comes into the recording.

[2016-05-23 02:58] Wolfgange3311999 commented on #28
Hmm, that's strange. It gets exactly the same result as if the query were [`ft 2 plus 2`][1].

[1]:http://www.wolframalpha.com/input/?i=ft+2+plus+2

[2016-05-23 03:13] Wolfgange3311999 commented on #28
@stuartlangridge Can you try reproducing the problem with [a debugged version I just made](https://github.com/Wolfgange3311999/mycroft-core)? I'm still in the progress of transitioning OSs and I've yet to get Mycroft running on it.

[2016-05-23 03:23] ryanleesipes commented on #30
Yes. Agreed 100%! I've been working on recording these! We'll get them in
some kind of file repo.

On Sun, May 22, 2016, 9:53 PM Matthew D. Scholefield <
notifications@github.com> wrote:

--
Ryan Sipes
CTO, Mycroft A.I.
https://mycroft.ai
785-979-6091

[2016-05-23 08:41] stuartlangridge commented on #28
I now get "I don't understand your request", strangely. (Note: I have changed version of mycroft core to debug a different issue.)

    2016-05-23 09:39:26,164 - RecognizerWrapper - INFO - STT JSON: {"alternative": [{"transcript": "what's 2+2"}, {"transcript": "what's 2 + 2"}, {"transcript": "what's two plus two"}, {"transcript": "whats 2 + 2"}, {"transcript": "what's TwoPlusTwo"}], "final": true}

[2016-05-23 11:26] ryanleesipes commented on #28
Yes, makes sense. In that version Wolfram is broken.

On Mon, May 23, 2016, 3:41 AM Stuart Langridge <notifications@github.com>
wrote:

--
Ryan Sipes
CTO, Mycroft A.I.
https://mycroft.ai
785-979-6091

[2016-05-23 12:33] Eibriel opened #31 "Missing native packages on documentation"
The following _native packages_ are also needed (Xubuntu 14.04):
- libffi-dev
- libssl-dev

[2016-05-23 13:17] Dark5ide commented on #31
Also on Ubuntu 16.04.

I suggest adding _libffi-dev_ and _libssl-dev_ in **build_host_setup.sh**. After that we can change the documentation like this :

- run **build_host_setup.sh**
- run **dev_setup.sh**

[2016-05-23 13:47] ryanleesipes commented on #23
@aatchison we need to cut a new update sometime soon.

[2016-05-23 16:00] aatchison commented on #23
I just updated a unit to .26. Everything is working, Arduino side. If you are on a unit and have issues, please try to:

`apt-get remove mycroft-standalone`

[2016-05-23 17:48] #23 closed

[2016-05-23 17:58] ryanleesipes commented on #31
@jdorleans @aatchison, can one of you check on this? And if it is needed - include it in README and on the docs site.

[2016-05-23 18:07] jdorleans commented on #24
NPR skill uses **mpg123** process to run the mp3 stream from NPR. To stop it we need to kill that process. Today, we do this by sending a command to the NPR Skill to stop once you press the button (make sure you have the latest core version). However, there is a knowing hardware bug that prevents the pressing action to work and you'd have to turn the encoder instead. Please, try that as well and l

[2016-05-23 18:16] jdorleans commented on #19
Couldn't agree more. : )
We do still have to clean up and improve the code. I'm doing some enhancements for the recognizer (hope to merge soon), but some of those files may require refactoring, which means more care and time. Everybody is welcome to accelerate this process.

[2016-05-23 18:23] #4 closed

[2016-05-23 18:31] LongBoolean opened #32 "The dev_setup.sh script should ensure that it is not run with sudo, or at least ask."
After going through the register process the mycroft client doesn't seem to realize that it has been registered and continues to say that the device is not registered and gives a registration code.
Restarting all of mycroft's processes after registration, and then restarting has no effect. The website itself appears to have worked, the device id on the web page matches the id in the identity.json

[2016-05-23 18:43] aatchison commented on #24
Unless I'm mistaken, my rather hackish method to stop skills with the
encoder has been removed, to be replaced with StopSkill implementation
On May 23, 2016 1:32 PM, "jdorleans" <notifications@github.com> wrote:

[2016-05-23 18:51] aatchison commented on #32
You might want to remove ~/.virtualenv and ~/.mycroft ; try again. Let me know what happens.

[2016-05-23 19:10] aatchison commented on #32
I can confirm that a fresh checkout, virtualenv, and build works for me. Can you confirm @LongBoolean ?

[2016-05-23 19:30] LongBoolean commented on #32
Well that did seem to solve the that problem, now I am having issues with it just saying "go ahead" instead of hearing what I say

[2016-05-23 19:31] aatchison commented on #32
We might be having some recognizer issues again. Have you tried just "Mycroft" as the wake word?

[2016-05-23 19:31] LongBoolean commented on #32
aww I see, I get this: `/bin/sh: 1: /home/nick/.virtualenvs/mycroft/local/lib/python2.7/site-packages/speech_recognition/flac-linux-i386: Permission denied`

[2016-05-23 19:34] LongBoolean commented on #32
if run `./start.sh voice` with sudo it works fine, without I get the "go ahead" problem

[2016-05-23 19:35] aatchison commented on #32
It seems that maybe you ran dev_setup.sh or something as sudo as some point?

[2016-05-23 19:38] LongBoolean commented on #32
yes, If I don't run dev_setup.sh as sudo, pip won't pull down any packages

[2016-05-23 19:46] aatchison commented on #32
That shouldn't be the case, and you should never run as sudo, as the virtualenv is created in your user directory, in the case of sudo /root/.virtualenv

[2016-05-23 19:49] LongBoolean commented on #32
that is incorrect, as you can see from the error: `/bin/sh: 1: /home/nick/.virtualenvs/mycroft/local/lib/python2.7/site-packages/speech_recognition/flac-linux-i386: Permission denied`
.virtualenvs is in fact in my home directory

[2016-05-23 19:56] aatchison commented on #32
I'm sorry, but I don't know why that would happen. Hmm. Any thoughts @channel?

[2016-05-23 20:06] LongBoolean commented on #32
would you like me to edit the name of this issue to better reflect the current problem?

[2016-05-23 20:07] aatchison commented on #32
Yeah, that sounds like a good idea. I wonder what is going on here?

[2016-05-23 20:08] Cliabhach commented on #32
Can you show the full set of permissions on that file? `ls -l /home/nick/.virtualenvs/mycroft/local/lib/python2.7/site-packages/speech_recognition/` should do the job.

[2016-05-23 20:09] ryanleesipes commented on #3
#35 deals with this.

[2016-05-23 20:12] LongBoolean commented on #32
[code]

[2016-05-23 20:12] LongBoolean commented on #32
root owns everything!!!

[2016-05-23 20:16] Cliabhach commented on #32
Interesting that the mac and windows binaries have group- and world-execute permission. At any rate, something's up with the way pip is configured and/or running. Not exactly sure what, though. You said that pip wouldn't download packages when you ran dev_setup.sh without sudo - did it give any specific errors?

[2016-05-23 20:17] #29 closed

[2016-05-23 20:17] ryanleesipes opened #37 "Alternative Distro Support"
Documentation on supporting as many distros as possible, as well as how to use Docker to run Mycroft.

[2016-05-23 20:19] aatchison commented on #32
Is it possible that you checked out as root?

[2016-05-23 20:20] #31 closed

[2016-05-23 20:21] LongBoolean commented on #32
no I did not checkout as root or with sudo, and for the record `sudo` and `root` are not synonyms.

[2016-05-23 20:22] aatchison commented on #32
Right, just wondering why it root would get ownership.

[2016-05-23 20:22] LongBoolean commented on #32
[code]
hmmm these results seem different than what I remembered, but either way it still has issues.

[2016-05-23 20:24] aatchison commented on #32
What happens if you:
chown -Rv nick:nick ~/.virtualenvs/mycroft ?

[2016-05-23 20:24] LongBoolean commented on #32
`dev_setup.sh` is what sets these files up right? How does `dev_setup.sh` decide which user should own it?

[2016-05-23 20:25] aatchison commented on #32
VIRTUALENV_ROOT=${VIRTUALENV_ROOT:-"${HOME}/.virtualenvs/mycroft"}

It sets up in whatever user's home dir is as run as.

[2016-05-23 20:27] LongBoolean commented on #32
you mean `sudo chown -Rv nick:nick ~/.virtualenvs/mycroft` right? :)

[2016-05-23 20:28] aatchison commented on #32
lol, yes :)

[2016-05-23 20:30] LongBoolean commented on #32
that gets rid of the first error in `dev_setup` then it stops here:
[code]

[2016-05-23 20:31] clusterfudge opened #38 "Write docs on mycroft development environment goals"
Specifically, why sudo shouldn't be necessary, and why sudo is (in general) bad. This keeps coming up. #32

[2016-05-23 20:31] aatchison commented on #32
ok, now chown  mycroft-core/pocketsphinx perhaps

[2016-05-23 20:33] LongBoolean commented on #32
this command: `sudo chown -Rv nick:nick ~/gitHub/mycroft-core/pocketsphinx-python/`

[2016-05-23 20:34] LongBoolean commented on #32
I think I'm going to remove the pocketsphinx dir entirly and let it re download

[2016-05-23 20:34] Cliabhach commented on #38
Does it make sense to make our scripts warn heavily, possibly error out, if run in a privileged environment?

[2016-05-23 20:35] aatchison commented on #32
Yeah, starting over sounds like a good idea:)

[2016-05-23 20:41] clusterfudge commented on #32
@LongBoolean we really *really* (as in I put a lot of effort into this) shouldn't need to use sudo for the dev_setup.sh script. The goal of that script is to create an isolated (and in the user space) development environment without scattering bits across the host. The build_host_setup.sh script is the exception here, and it uses sudo internally to apt-get install the native dependencies. If you'r

[2016-05-23 20:41] clusterfudge commented on #38
YES

[2016-05-23 20:47] LongBoolean commented on #32
Somewhat related, after an ubuntu update, `workon mycroft` no longer works on my machine and I get this error every time I open a new shell:
[code]
So I've been living dangerously for the past few weeks. :)

[2016-05-23 21:01] aatchison opened #39 "On the Cerberus page: Premium subscribers still prompted to subscribe."
We need to check for description status before we display the premium subscription proposition.

[2016-05-23 23:28] ryanleesipes commented on #28
Is it passing along " <- quotes? Therefore implying feet, like:
2"

[2016-05-23 23:30] ryanleesipes commented on #39
Not sure who to assign this to, @senseiner @jdorleans ? I assume Jonathan, but not sure.

[2016-05-23 23:31] ryanleesipes commented on #38
@Cliabhach Big points for a PR that contains this :smile:

[2016-05-23 23:32] ryanleesipes commented on #19
@elopio perhaps we can narrow the scope of this by identifying where the most egregious offenders are and targeting them?

[2016-05-23 23:33] ryanleesipes commented on #37
Deals with #2 around not being so Ubuntu centric.

[2016-05-23 23:34] ryanleesipes commented on #18
If someone would be so kind as to volunteer to focus in on these, that would be awesome.

[2016-05-23 23:52] senseiner commented on #9
We need to take a look on this @jdorleans

[2016-05-24 01:02] aatchison commented on #18
I started to knock out some I think. It's mostly just getting rid of unused
imports and such. Should be fairly easy. We need to integrate the license
headers asap though because everyone will have to rebase.
On May 23, 2016 6:34 PM, "Ryan Sipes" <notifications@github.com> wrote:

[2016-05-24 01:19] Cliabhach commented on #38
I've got a basic snippet:

[code]

We've got 2 solutions, I think. We could put this at the top of each file, or place it in one common file that we `source` when necessary. I'm assuming the latter is preferable?

[2016-05-24 02:12] aatchison commented on #32
hmm.
Try:
`pip install -r requirements.txt`
Then perhaps:
'pip install stevodore'
if that doesn't work?

[2016-05-24 05:51] clusterfudge commented on #38
Ha! I didn't see this, and implemented almost the exact same thing :+1:

I have this as well as "sandbox your dependencies" rant coming in with a PR.

[2016-05-24 14:10] #38 closed

[2016-05-24 14:57] Wolfgange3311999 commented on #32
@longboolean: If I were you I would just reset all your files to nick:nick with `sudo chown -Rv nick:nick /home/nick/` assuming that is your home directory.

[2016-05-24 17:08] ryanleesipes commented on #14
Let's focus on this and get it merged ASAP, the most common complaint is regarding the listener.

[2016-05-24 22:16] Wolfgange3311999 commented on #28
So, Mycroft sends the following query to Cerberus:
GET /wolframalpha/v2/query?input=what%27s+2%2B2 HTTP/1.1

Which evaluates to a search for `what's 2+2`. This means that cerberus must be appending a single quotation mark to the end. since [`what's 2+2'`](https://www.wolframalpha.com/input/?i=what%27s+2%2B2%27) causes the same problem.

[2016-05-24 23:55] clusterfudge commented on #28
Sorry the cerberus stuff isn't OSS yet, we had some keys dropped into the repo on accident and we're still trying to decide between cleanup, rotating keys, or snapshotting the repo. Hopefully we'll get to it this week. I'm inlining the cerberus code for the wolfram|alpha hander, and I don't see anything obviously wrong with it. I will, however, verify the outbound request this evening.

[code]

[2016-05-25 00:00] jcasoft opened #44 "Mycroft configuration file: mycroft.ini not generated"
Mycroft configuration file: mycroft.ini not generated
    /etc/mycroft/mycroft.ini
    $HOME/.mycroft/mycroft.ini

[2016-05-25 01:38] jdorleans commented on #14
PR #45

[2016-05-25 05:30] forslund opened #46 "skill container makes it hard to import files"
When using the mycroft-skill-container the skill may be launched from any location in the file system this makes things complicated if the skill is split up in different files as imports will be relative to the position in the file system and not the skill.

[2016-05-25 14:36] aatchison opened #48 "Local configuration is sometimes ignored?"
When using an external microphone on units, I have used the ~/.mycroft/mycroft.ini configuration file to select another microphone. Here is an example:

`[speech_client]`
`device_index=1`

This seems to work fine, until after a reboot (or two,) and then Mycroft uses the default device (device_index=0) regardless of the configuration files contents or existence. This has happened to me twice now, b

[2016-05-25 15:19] aatchison opened #50 "On the Cerberus Page - Devices: 'Register New Device' button does not redirect to register page"
Just noticed this, it would be be nice if it did:)

[2016-05-25 16:07] TheNeikos opened #53 "No list of dependencies, nor clear build instructions"
A basic README should have at least these:

Clear (and distribution agnostic, for gnu/linux at least) install steps to get to a basic working status.
This missing right now (might be incomplete):
- Explicit list of external dependencies
- List of out of tree dependencies (`adapt-parser` is not on pip for example)
- A clear version statement for Python. Using it is fine and dandy, but is it 2 or 3?

[2016-05-25 16:19] ryanleesipes commented on #53
Agreed! Thanks for the feedback, I'll see what I can do!

[2016-05-25 22:28] jdorleans commented on #24
@aatchison you're right, the flow should be:
1. press button
2. enclosure receives and sends the stop cmd to all skills
3. all skills perform the stop operation (in the case above, NPR will stop by killing the process its using -  mpg123)

It's important to note though, the **enclosure** process **must** be running. So we'll be able to detect the button pressing action (remember the hardware issue

[2016-05-25 22:30] aatchison commented on #24
Let's integrate the stop event functionality into the "Mycroft Stop" skill, then it could come from where ever:)

[2016-05-25 22:33] jdorleans opened #54 "Pairing code is not displayed when device is unpaired"
Due to a sequence of mycroft talks just after displaying the pairing code, the text been displayed on the unit will be erased and the talk animation will take place instead.

[2016-05-25 22:39] jdorleans commented on #24
Yes, the basic structure, and I believe most part of it, has been done awhile ago. Now, it's a matter of creating and prioritizing the general "Mycroft Stop" task.

[2016-05-25 22:43] jdorleans opened #55 "Mycroft should stop skills by voice command"
This feature request provides the ability to stop all skills using the voice command **Mycroft Stop** other than the current and only option of pressing the unit's button.

[2016-05-25 22:45] jdorleans opened #56 "Mycroft should stop TTS"
Mycroft should be able to stop any TTS engine by voice or button pressing. This task depends on #55.

[2016-05-25 23:30] aatchison opened #57 "Echo cancelation in software"
In order for the "Mycroft stop" voice command to function while playing audio or TTS, he needs to be able to hear himself over his own speaker. We have  been playing with some pulse audio plugins that might do the job, but the unfortunate facts are:
1. We have to way to manipulate pulse audio streams, sinks, and sources.
2. If I remember correctly, portaudio doesn't play nice with the pulse microp

[2016-05-25 23:35] aatchison commented on #56
This issue is particularly encumbered by
https://github.com/MycroftAI/mycroft-core/issues/57
On May 25, 2016 5:45 PM, "jdorleans" <notifications@github.com> wrote:

[2016-05-26 13:27] Chas20022002 commented on #32
On step 2 of new install.  IE Run Dev_Setup.sh

Logged in as root,
in mycroft-core folder,
but when I attempt to sh dev_setup.sh I get "This script should not be run as root or with sudo."

I have no idea how to run this without sudo?  I created a new user Chas2002, but of course this creates a directory related to Chas2002.  So, I navigate back but /root throws "permission denied."

I think I'm m

[2016-05-26 13:35] Cliabhach commented on #32
@Chas20022002 Right, to switch users inside a session you'll want to use the `su username` command; here, it'd be `su Chas2002`. Of course, you could also just login to the host machine as Chas2002 before working on Mycroft (that's the intended behavior).

Developing code as root causes problems like the ones this ticket was created to address, so we want you not to do that if possible.

[2016-05-26 13:36] Cliabhach commented on #32
You cloned/downloaded the original code as root, right? You'd probably be best off re-cloning it as your new user.

[2016-05-26 13:40] Chas20022002 commented on #32
Ah, okay.  Yes, placed the build in root.  Will do as you suggest and place the build under an su user.  Thanks.

[2016-05-26 16:11] ryanleesipes opened #58 "During Pairing Prompt, Mycroft should read URL with "dot" where periods are present"
During Pairing Prompt, Mycroft should read URL with "dot" where periods are present. Currently he just does a break between the different parts of the URL and also does not read "ai" as "A, I" as he should.

[2016-05-26 18:28] ryanleesipes commented on #3
Solved by #59

[2016-05-26 18:28] #3 closed

[2016-05-26 18:30] ryanleesipes commented on #18
Erroneously closed this, time to get to fixing!

[2016-05-26 20:26] LongBoolean commented on #32
@Wolfgange3311999 yes that would fix my problems for sure, but the point is to make sure that the dev_setup script does the right thing, if it doesn't then it should be fixed so that other people won't have this issue aswell.

[2016-05-27 02:17] aatchison commented on #32
I think I closed this issue too soon:)

[2016-05-27 03:59] clusterfudge commented on #32
@LongBoolean You opened this original ticket (which has gotten away from us a bit). I think the original title of the issue (mycroft not pairing in ubuntu) captures your pain most accurately, and the title has shifted a bit with respect to tangential issues. The most telling message from the thread (to me, at least) is the following
[code]
I think this is the original issue we need to diagnose. If

[2016-05-27 05:27] LongBoolean commented on #32
@clusterfudge The original problem had to do with moving from the mycroft repo to the mycroft-core repo, deleting the .mycroft and .virtualenvs directories fixed the problem. Does this mean that something was not getting added that should have been if those directories where present, perhaps. It did seem to me that the tangential issues seemed to be more at the core of the problems that I have bee

[2016-05-27 08:41] forslund commented on #46
Resolved by #47

[2016-05-27 08:41] #46 closed

[2016-05-27 16:21] ryanleesipes commented on #14
#45 merged, closing this issue.

[2016-05-27 16:21] #14 closed

[2016-05-27 16:51] ryanleesipes commented on #18
PR #60 addresses this.

[2016-05-27 16:57] ryanleesipes opened #61 "Listener Improvements Remove Ability to put "Mycroft" at End of Sentence"
Upon further testing of Listener Improvements, PR #45 - it appears that the overall listener has improved, but upon being asked, "What time is it Mycroft" or "What's the weather, Mycroft" - the sentence before is ignored and Mycroft prompts the user to "Go Ahead."

[2016-05-27 17:04] #18 closed

[2016-05-27 17:05] aatchison commented on #2
I'm working on some deb packaging for Debian, Ubunutu, and Raspian

[2016-05-27 17:24] aatchison commented on #2
Would anyone want to try a package build for Arch? I'd be super interested in that.

[2016-05-27 17:52] ryanleesipes commented on #58
@jdorleans, @clusterfudge  I can't find in the code where it reads out "cerberus.mycroft.ai" - can you point me at the right place?

[2016-05-27 18:10] ryanleesipes commented on #61
Upon more testing it appears as though the new improvements do often cause Mycroft to opt for call and response "Go Ahead", even when it seems as though it should have been able to process the request.

[2016-05-27 18:31] ryanleesipes commented on #2
@ikeydoherty can you provide some feedback on how we can expand beyond our tunnel-vision? I am looking at detailing installation on other distros (ie. Fedora, Arch). Beyond that, what would be useful to address this?

[2016-05-27 18:54] ryanleesipes commented on #12
One site has been "opened", we are creating a Mycroft Community site: https://github.com/MycroftAI/mycroft-community-site - I would like to use a static site generator (like Jekyll or Pelican) for this site.

[2016-05-27 18:54] #12 closed

[2016-05-27 19:21] ryanleesipes commented on #56
We should get the button press working again.

[2016-05-27 19:33] ryanleesipes opened #63 "Wolfram Removes "Who is" and "Who was" from Query"
Had Wikipedia handling this, but Wolfram should handle it better, need to fix it so that "Who is" and "Who was" are not removed from the query.

[2016-05-27 19:58] virtadpt commented on #2
It seems as if it would be pretty straightforward to write an AUR that would install Mycroft's dependencies, check the code out of Github, build it, and construct a package.  This has already been done with Mimic (https://aur.archlinux.org/packages/mimic-git).

[2016-05-27 20:00] aatchison commented on #2
Yeah, I think that it is. I've not run arch in a while, so I don't have a host to work with right now.

[2016-05-27 20:06] Cliabhach commented on #58
@ryanleesipes I think that would be https://github.com/MycroftAI/mycroft-core/blob/master/mycroft/skills/cerberus_config/__init__.py#L41 , https://github.com/MycroftAI/mycroft-core/blob/bdcd8582aa4938102a90d73bc389f10b272975da/mycroft/skills/weather/__init__.py#L135 , possibly elsewhere.

[2016-05-27 20:14] jdorleans opened #64 "Listener speak thread is causing undesirable behaviour and overhead"
The thread created to run the **speak** action in **listener.py** is causing an undesirable behaviour of emitting an audio start and end event at the same time when trying to pair a device. In addition, it seems an unnecessary overhead, because the **speak** function uses the `self.emitter.emit("speak", Message("speak", metadata=payload))` to shoot the message in an asynchronous way.

[2016-05-27 20:44] Wolfgange3311999 commented on #61
I'm assuming this is the same issue I originally encountered when making this:
The end marker is generated first and often is a bit too far into the wake word segment by a small margin. Afterwards, when generating the begin marker, `self.recognizer.is_recognized()` will always return `False` pushing the begin marker to 0 resulting in the first part of the phrase being cut out.

So to fix this, the

[2016-05-27 21:48] jdorleans commented on #56
@ryanleesipes the current knowing problem we have with the button is related to the hardware. @aatchison thinks it might be caused by a wrong position of the cables that connects the encoder to the arduino. My unit has this problem and I'll try to fix it by switching the cable position during this weekend.

[2016-05-27 22:08] jdorleans commented on #55
This skill depends on the PR #66 which reduces the silence threshold allowing the word **stop** alone to be captured for the command: **Mycroft Stop**

[2016-05-27 22:39] aatchison commented on #2
Going to try some rpms soon I think, probably spare time stuff though. Oh yeah, and snaps. Let build for every package manager;) Also, yes our build system is a bit funky, but it is really mostly do to the fact that we are targeting a device first. I'm really close to getting that stuff separated out I think, a few more days maybe. I'm also working on an apt repo, but I plan to get some source deb

[2016-05-28 18:24] virtadpt commented on #2
You're targeting a device first, but as I understand it you're targeting a device running Raspbian, which is Debian (sorta kinda, the Debian Project itself might debate that, but whatever) running on an RPi.  Building .deb packages first makes a lot of sense (then you could put them into a separate repo) and then use the automatic build techniques learned there to build .rpm packages, .tar.xz pack

[2016-05-28 21:30] ryanleesipes commented on #63
To elaborate all question type queries have the question parts removed. This makes the Wolfram skill nearly completely useless.

[2016-05-28 21:30] clusterfudge opened #69 "Scary stack trace in unit tests"
[code]

[2016-05-29 03:31] clusterfudge opened #71 "Disable log messages during unit tests"
clean up unit test output.

[2016-05-30 03:35] ryanleesipes opened #73 "Wikipedia Improvement"
"What does Wikipedia say about..." should be added to the prefixes that trigger a Wikipedia search.

[2016-05-30 21:18] jdorleans opened #74 "build_host_setup.sh return error in a fresh Ubuntu 16.04"
Error message after running `build_host_setup.sh`:
`sudo: easy_install: command not found`

We probably need to add two new dependencies:
`python-setuptools` and `python-pip`

[2016-05-30 21:26] ryanleesipes commented on #32
This got merged, yes?

[2016-05-30 21:28] ryanleesipes commented on #37
Adjusting the documentation around this, should send a PR soon with some other distro support and accompanying docs.

[2016-05-30 21:29] Cliabhach commented on #32
@ryanleesipes Pull request 43 was merged, yes.

[2016-05-30 21:34] ryanleesipes commented on #74
Do those two dependencies fix the issue?

[2016-05-31 00:13] jdorleans commented on #74
Ok, I can confirm that `python-setuptools` fixes this problem and `python-pip` is an dev dependency which is solved in the `dev_setup.sh`.

[2016-05-31 01:04] jdorleans commented on #55
Fixed by PR #67

[2016-05-31 01:04] #55 closed

[2016-05-31 01:08] #24 closed

[2016-05-31 17:03] ethanaward opened #75 "Message bus warning - disconnecting on error"
When running Mycroft on my Ubuntu 16.04 machine, it will occasionally give the following error in the terminal:

2016-05-31 11:59:02,796 - Skills - DEBUG - {"message_type": "recognizer_loop:audio_output_end", "context": null, "metadata": {}}
WebSocketConnectionClosedException('Connection is already closed.',)
2016-05-31 11:59:03,273 - mycroft.messagebus.client.ws - WARNING - Disconnecting on error

[2016-05-31 17:40] ryanleesipes commented on #19
Assigning to @jdorleans to review.

[2016-05-31 17:41] ryanleesipes commented on #74
@ethanaward can you confirm that you were able to install and set up master without issue on Ubuntu 16.04?

[2016-05-31 17:42] ryanleesipes commented on #73
Reassigning to @ethanaward for practice.

[2016-05-31 17:45] ryanleesipes commented on #63
Reassigned to @jdorleans

[2016-05-31 17:46] ryanleesipes commented on #28
Assigning @jdorleans to review.

[2016-05-31 17:48] ryanleesipes commented on #61
Adding assignee @Wolfgange3311999 to help move this along.

[2016-05-31 17:50] esoleyman commented on #75
Are you starting the three services in different terminal windows? If you do that, you'll notice that the error goes away.

./start.sh service
./start.sh skills
./start.sh voice

[2016-05-31 17:51] ryanleesipes commented on #58
Giving this to @jdorleans

[2016-05-31 17:52] #32 closed

[2016-05-31 17:56] ryanleesipes commented on #54
This is waiting on #65

[2016-05-31 18:07] ryanleesipes commented on #30
@ethanaward pair with @aatchison to show you how to record these, then pair with me to get specifics on what the recordings should contain.

[2016-05-31 18:21] ethanaward commented on #74
I had no problems installing and setting it up, no.

[2016-05-31 18:22] ethanaward commented on #75
Yes, they were all started in different terminal windows and I was still noticing the errors.

[2016-05-31 18:24] ryanleesipes commented on #74
Seems to have been fixed by commit 2a241d3

[2016-05-31 18:24] #74 closed

[2016-05-31 18:25] ryanleesipes commented on #37
Adding @ethanaward - need to put required packages in the docs somewhere.

[2016-05-31 19:13] Wolfgange3311999 commented on #61
@ryanleesipes: Does the silence threshold PR fix this 100% of the time?

[2016-06-01 19:31] #64 closed

[2016-06-01 20:19] Wolfgange3311999 commented on #58
Should anything with a period and no space be read as "dot"? For instance, what about right before speaking with mimic, regex replace "([^,. ]).([^,. ])" with "$1 dot $2"?

[2016-06-01 20:23] ryanleesipes commented on #58
@Wolfgange3311999 yes, I think that would be good.

[2016-06-01 20:24] ryanleesipes commented on #56
Until you get that fixed, perhaps you could coordinate with @isaacnward to test it on a "good" unit.

[2016-06-01 20:27] ryanleesipes opened #79 "Wolfram Queries feature a trailing ' - messing up responses"
This is something we need to figure out, as it renders Wolfram nearly completely useless in many cases.

[2016-06-01 20:36] Wolfgange3311999 commented on #79
Note: this is the cause of issue #28 and is believed to happen somewhere near when a request is sent to Cerberus.

[2016-06-01 20:55] ryanleesipes commented on #2
@ethanaward can you add the package list that you added to the docs site to the README as well?

[2016-06-01 20:56] ryanleesipes commented on #63
This should be fixed by #77

[2016-06-01 21:28] #73 closed

[2016-06-01 21:30] ryanleesipes commented on #58
@Wolfgange3311999 do you have any idea of how to make this happen? If so I can reassign this to you.

[2016-06-01 21:31] ryanleesipes commented on #53
@ethanaward added this to the docs site. I've assigned him to include this in the README.

[2016-06-01 21:33] ryanleesipes commented on #69
@ethanaward this is an error that was plaguing you. Was it fixed on rebase? If so I can close this issue.

[2016-06-01 21:40] ethanaward commented on #53
This should be fixed by #82.

[2016-06-01 22:03] ryanleesipes commented on #69
Everything seems to be good now. Closing this.

[2016-06-01 22:03] #69 closed

[2016-06-01 22:04] ryanleesipes commented on #63
Perhaps this is a problem related to #79 with the queries that are failing.

[2016-06-01 22:27] ryanleesipes commented on #2
Needed packages detailed in the README, also there will be a redone build_host_setup that targets Arch, Debian, and Fedora coming up very soon (by yours truly)!

[2016-06-01 22:32] ryanleesipes commented on #53
Going to split these up into more targeted issues. Thanks for the feedback @TheNeikos

[2016-06-01 22:32] #53 closed

[2016-06-01 22:48] ryanleesipes commented on #54
@isaacnward will help review this, and has already commented on the pending PR.

[2016-06-02 16:19] ethanaward opened #83 "Novelty skill"
Mycroft should be able to respond to various quotes and phrases in novel ways, e.g.

User: Mycroft, open the pod bay doors
Mycroft:  I'm sorry, Dave. I'm afraid I can't do that.

User: Mycroft, what do you think of Siri?
Mycroft: I think she needs to be more open-minded.

[2016-06-02 16:21] ethanaward opened #84 "Giving Mycroft context"
Mycroft should be able to know when someone is talking about a previous query, e.g.

User: Mycroft, who is Lebron James?
...
User: Mycroft, how tall is he?
Mycroft: 6 feet 8 inches.

[2016-06-02 16:24] ethanaward opened #85 "Dialogue with Mycroft"
Mycroft should be able to carry on a conversation about certain things, such as ordering a pizza.

User: Mycroft, I want to order a pizza from [pizza place].
Mycroft: Sure, what would you like on your pizza?
User: Pepperoni.
Mycroft: Would you like anything else on it?
User: No, that's it.
Mycroft: What size of pizza would you like?
...

[2016-06-02 16:26] ethanaward opened #86 "Personal interactions with Mycroft"
Mycroft should be able to tell you about himself, as well as be able to respond to phrases directed at him. So `Thanks, Mycroft` should make him respond `You're welcome` rather than searching for `Thanks`.

[2016-06-02 17:31] ethanaward commented on #79
When I ask Mycroft for `what's 2 times 2` Mycroft receives the output from Wolfram as `feet x 2 x 2`, which means that Wolfram is receiving the output as `'2x2`. So it's adding on a `'` at the beginning, not end.

[2016-06-02 23:32] #61 closed

[2016-06-02 23:33] #54 closed

[2016-06-02 23:35] #2 closed

[2016-06-02 23:37] ryanleesipes commented on #71
@ethanaward please figure out what needs to be done here.

[2016-06-02 23:38] ryanleesipes commented on #57
We'll narrow the scope of this to pertaining to the unit only (unless we can do this in a settings-respecting way on the desktop).

[2016-06-02 23:39] ryanleesipes commented on #48
Remote configuration seems to overwrite local changes like this (possibly). @ethanaward this one falls to you as well.

[2016-06-02 23:40] ryanleesipes commented on #44
After pairing with Cerberus, do you see these appear?

[2016-06-02 23:41] ryanleesipes commented on #75
Well @ethanaward - you are tasked with solving your own problem! :stuck_out_tongue_closed_eyes:

[2016-06-02 23:43] ryanleesipes commented on #86
The beginning of this is solved. We need a "personal" skill. Some ideas:
- Where were you born?
- When were you born?
- Who made you?
- Who is your father/daddy/mother?
- What are you?
- Who are you?

[2016-06-02 23:45] ryanleesipes commented on #85
This is an ENORMOUS task. But we should look into it. I have some ideas for how to accomplish this, but we will need to have some conversations about it.

[2016-06-02 23:46] ryanleesipes commented on #83
@ethanaward you are assigned now, this should be similar to the welcome skill, but with more intents.

[2016-06-02 23:51] ryanleesipes opened #89 "A Smarter, More Personable Mycroft."
Mycroft is a little dull right now, very rigid in you ask a question, he answers. Let's give him a personality and make him a little smarter. This is an Epic task that incorporates many subtasks. Some example improvements are:
- Personal Skill: Make Mycroft "aware" of who he is and where he came from.
- Context Awareness: If Mycroft could maintain the entity of the last query and use that with the

[2016-06-03 00:31] jdorleans commented on #19
I'm closing this issue since it's something we have to care about daily and its scope is largely applicable for many of our current code. I'll, however, implement a better way to keep tracking and help us to improve issues related to source code quality.

[2016-06-03 00:31] #19 closed

[2016-06-03 00:32] jdorleans opened #90 "Install and Configure SonarQube for all Mycroft code"
Many are the reports and concerns about the quality of our projects source code. We have to start addressing those issues sooner than later. SonarQube provides a rich and high level quality platform which help us to easily identify quality problems on the code. For more details read http://www.sonarqube.org/

[2016-06-03 00:40] jdorleans commented on #58
Guys, let's not change that behaviour in `mimic`. The char . must be a real pause, that's the way it is on a natural language. That said, there is a simpler way of solving that problem. I'll fix that.

[2016-06-03 01:40] Cliabhach commented on #58
@jdorleans: we should probably add something to the docs about when to use phonetic spelling (like 'dot') in spoken text.

[2016-06-03 02:01] jdorleans commented on #58
@Cliabhach you're right. We do still have much information to add on our docs and some of them are not very easy to identify until they appear as an issue. I'll take care of some of them and add on our docs.

[2016-06-03 05:31] grahamreeds commented on #86
This should either be where HAL was created or Cyberdyne systems if we are
looking to reference pop culture.

If the user then says "Seriously, Mycroft?" he will go into the actual
creation of Mycroft spiel.

GR

Sent from my Nexus 5.
On 3 Jun 2016 12:43 a.m., "Ryan Sipes" <notifications@github.com> wrote:

[2016-06-03 06:50] Wolfgange3311999 opened #92 "Math Skill"
This should at least be able to do basic operations (+-*/).

[2016-06-03 14:19] ryanleesipes opened #94 "Provide Intent Tests for New Skills"
Need to provide tests for new skills.

[2016-06-03 14:23] ChristopherRios7 commented on #94
I am on it!

[2016-06-03 20:06] ethanaward commented on #75
I haven't gotten that error in the last few days when running Mycroft correctly, so it's possible that it was what @esoleyman said. I think I just didn't have one of the services running at the time. It was either that or the wifi cutting in and out that did it, not any problem with Mycroft.

[2016-06-03 20:06] #75 closed

[2016-06-03 20:12] virtadpt commented on #85
This might be a good feature for users to build slowly, i.e., training Mycroft to personalize itself to the user.  Plus, the database of asks could be pretty easy to back up (SQLite).

[2016-06-03 20:19] virtadpt commented on #89
How about this?

Mycroft's users have a way of adding questions to Mycroft's database.  Those user-added questions can then, if the user so wishes, be added to an online registry of questions at mycroft.ai which is user-curated, and Mycroft users can select batches of questions they'd like to add to their own Mycroft instances.

[2016-06-03 22:35] aatchison commented on #89
Wow, an utterance database! They could be categorized too. That would be
cool.
On Jun 3, 2016 3:19 PM, "The Doctor" <notifications@github.com> wrote:

[2016-06-03 22:39] aatchison commented on #89
...and if you could load them into skills as well.
You could load a list of apologies for errors for example.
On Jun 3, 2016 5:35 PM, "Arron Atchison" <arron.atchison@gmail.com> wrote:

[2016-06-03 22:49] LongBoolean commented on #89
Would also be nice to have multiple variations of responses. (currently, multiple lines in the .dialog file)
Example: "Thank you mycroft", Mycroft then responds with one of these:
[code]
That way responses would be less repetitive over time.

[2016-06-03 23:08] ryanleesipes commented on #89
@LongBoolean good idea. Someone should put those in a PR.

[2016-06-03 23:24] jdorleans opened #96 "Skill Container - Load configuration file from custom locations"
@forslund pointed contained skills should be able to add custom configuration files and be independent from the defaults provided for the built-in skills.

[2016-06-04 14:49] the7erm opened #98 "Typeo in README.md"
Should be `~/.` not `~./`

- [ ] Change to: `~/.mycroft/identity/identity.json`

[2016-06-04 14:54] aatchison commented on #98
Eagle eyes!

[2016-06-04 14:54] #98 closed

[2016-06-04 15:59] the7erm opened #99 "ImportError: No module named pdoc"
A line for pdoc seems to be missing in `requirements.txt`

[2016-06-04 16:19] #99 closed

[2016-06-05 00:29] SmashleyG opened #101 "Not able to pair device."
I have logged into https://cerberus.mycroft.ai and followed the instruction, I type in the code, but I get no response or that device failed to pair.

I also get a lot of 500: Internal Server Error.

I have used both Firefox and chrome. I am using Ubuntu gnome 16.04.

Thanks.

[2016-06-05 03:16] ryanleesipes commented on #63
Many queries are still not answerable through our Wolfram Alpha skill, that are answerable through the [web frontend](http://www.wolframalpha.com/). We are doing something wrong in processing these. Reassigned to @ethanaward

[2016-06-05 03:17] ryanleesipes commented on #28
This is finally fixed by a change made in the proxy service. However, some queries that hit Wolfram are still not processed correctly. That problem is being trailed in #63

[2016-06-05 03:17] #28 closed

[2016-06-05 03:18] ryanleesipes commented on #79
This has been fixed by @ethanaward via a change to the Cerberus proxy service, there are still problems with the Wolfram skill, however, being tracked in #63

[2016-06-05 03:18] #79 closed

[2016-06-05 03:30] ryanleesipes opened #103 "Mycroft Prompts User to go to Cerberus Twice"
When not registered, Mycroft prompts user to go to the Cerberus URL twice in a row.

[2016-06-05 03:31] ryanleesipes commented on #101
@SmashleyG this should be fixed, we are going to be doing some updating and better monitoring to ensure this isn't an issue going forward.

[2016-06-05 03:31] #101 closed

[2016-06-05 03:33] ryanleesipes commented on #58
#91 has been Merged, closing this issue. However, I do think we may want to move to using "dot" in Mimic for instances when there aren't spaces between words/numbers on both sides of a period.

[2016-06-05 03:33] #58 closed

[2016-06-05 04:19] SmashleyG commented on #101
Thanks, everything is working fine :)

[2016-06-05 17:29] the7erm commented on #84
I think I have an idea for this but I'd like to get some input.

For starters let's take the model of what happens with humans.  Short term & long term memory.

Humans in general can hold about 5~6 items in their short term memory at a time.

We'll probably need to build a context dict, this will hold a small piece of
info about what was said:
#### Context item
[code]

I'm not sure about the best

[2016-06-06 04:02] clusterfudge commented on #84
Thanks, @the7erm and @ethanaward  . I've also been giving this some thought. In my grand designs, contextual conversation (which I'll refer to as CC going forward) breaks itself into 3 components:

1. The Context Manager
This is the data structure[s] in charge of retaining/traversing context for a given query. It should incorporate things like implicit exclusion (based on time and/or context size)

[2016-06-06 11:07] the7erm commented on #84
I agree with you there.

    What about the 5-day forecast? <implicit Location:Seattle from context>
    What about in Chicago? <implicit WeatherQuery from context>

It seems like issues #84 & #85 are very similar.

The way mycroft is set up - as near as I can tell with my limited experience - there is no state/session/context.  It just does command -> response, and then you have to say "Hey mycro

[2016-06-06 19:58] ethanaward commented on #63
I've isolated this problem to the Wolfram Alpha skill. If I ask Mycroft `who was Abraham Lincoln`, we get the information from Wolfram about who Abraham Lincoln was, but the skill then looks for a "pod" or chunk of information called `Result`, which a search for a person doesn't give you.

One possible fix would be to have it look for `Result`, then if that doesn't exist, a pod title that all peop

[2016-06-06 22:06] the7erm commented on #89
Any time.
    No problem.
    Glad to help.
    Glad to be of service.

I didn't do much for this, just randomized the dialog.

[2016-06-06 22:21] #37 closed

[2016-06-06 22:22] ryanleesipes commented on #92
@ethanaward please review this and see what you think.

[2016-06-06 22:23] ryanleesipes commented on #90
@aatchison @jdorleans please talk amongst each other an evaluate this.

[2016-06-06 22:24] ryanleesipes commented on #71
#95 put in place to solve this, currently in review.

[2016-06-06 22:25] ryanleesipes commented on #50
Moving this to new sprint, assigning to @ethanaward, Cerberus King.

[2016-06-06 22:26] ryanleesipes commented on #39
Once again assigning to @ethanaward

[2016-06-06 22:29] ryanleesipes commented on #44
By jove, he's right. Where are our settings stored! :smiley: @aatchison, @jdorleans ? Let's make sure to update documentation @ethanaward to reflect what happens once the device is paired and your config is pulled down.

[2016-06-06 22:30] ryanleesipes commented on #63
@ethanaward this continues, I would like to see if we can troubleshoot the current API to address this. I feel like that is the safest bet, assuming any other API we gain access to through Wolfram will likely be similar.

[2016-06-06 22:31] ryanleesipes commented on #56
So close! It looks like @isaacnward might have a solution started this week. **fingers crossed**

[2016-06-06 22:44] LongBoolean commented on #89
nice

[2016-06-06 22:47] ryanleesipes opened #107 "Skills Documentation on Using Vocab/Dialogue"
Going to review the pending PRs in docs, just putting this here to make sure we tackle it, as pertaining to #106

[2016-06-06 22:50] ryanleesipes commented on #107
This now exists on https://docs.mycroft.ai - thanks to @ethanaward (should see the changes appear there shortly detailing this stuff!)

[2016-06-06 22:50] #107 closed

[2016-06-07 01:32] clusterfudge opened #108 "Regex entities are not localized"
There are currently several skills that use regular expression entities hardcoded into the skills themselves. These should be revised to use a localization system matching that in place for vocab and dialog.

[2016-06-07 06:05] clusterfudge commented on #84
So, your statement of the lack of state is certainly a goal, but only from the perspective of a single skill. In reality, there's already 2 places where state resides:
1) The recognizer loop
The recognizer loop is basically a state machine that is constantly listening for audio, and transitioning between
Recorded/send audio
Wakeword only, call-and-response mode
Going to sleep
Waking up

It's prett

[2016-06-07 17:14] jcasoft commented on #44
Hello Ryan, i install a fresh copy of raspberry jessie 1.9.1 on a Pi2 on June 6, the Mycroft configuration file mycroft.ini not generated on /etc/mycroft/mycroft.ini or
$HOME/.mycroft/mycroft.ini. But i create manually mycroft.ini with some parameters.
The FLAC conversion utility has not been installed on requirements, but i installed manually (**sudo apt-get install flac**)
The jack_control and p

[2016-06-07 17:18] seanfitzgeraldsc commented on #44
It's not expected for these files to be generated. They are consumed if they exist.

[2016-06-07 19:04] ryanleesipes opened #111 "'Time is it' Needs to Hit Time Skill"
Frequently "What time is it" is heard as "time is it" - and so we need to account for this.

[2016-06-07 22:19] aatchison opened #114 "alarm.mp3 file is missing."
The alarm wont play for compiled builds.

[2016-06-07 22:19] #114 closed

[2016-06-08 17:24] Clifspeare opened #115 "dev_setup.sh fails during build"
OS: Archlinux
date repo cloned: Jun 8, 16
I ensured that all necessary packages mentioned in docs were installed.

http://pastebin.com/0nnNLsFp

[2016-06-08 17:27] robocoder99 opened #116 "Typo in README"
Under "Using Mycroft without Cerberus." it says "configuraion" versus "configuration"

[2016-06-08 21:03] Jcode11 opened #121 ""tell me about" not working correctly"
when you say tell me about cats , he repeats you back "about cats" which is is messing up his search cause he often times will include about and the key word

[2016-06-08 22:46] Jcode11 opened #122 "spelling done right........."
when you ask him to spell a word, he should display the word on his led pixels. mouth, so you can visibly see it.

[2016-06-09 04:07] #116 closed

[2016-06-09 04:11] robocoder99 opened #123 "Music skill"
Mycroft most definitely needs a music playing skill if one has not been planned already. From talking to people this is one of the largest "needs" of an AI of this sort to have. Possible integrations with VLC, Spotify, etc.? There are a number of music apps and sadly they don't have a central API as far as I know so I am not certain how to go about that. I would certainly be willing to develop it

[2016-06-09 05:36] forslund commented on #123
I've been plaing around with these kinds of things for a while. My efforts can be seen at https://github.com/forslund/mycroft-media-skills

At the moment they use the mopidy media server for playing local music files and Spotify. Currently there's a lot of user input required to install but it works pretty good. Feel free to try it out, I would be grateful for any comments!

[2016-06-09 09:14] the7erm commented on #57
I was playing around with pulse audio echo cancellation the other day.  The cancellation itself seems to work pretty good.

[code]

From there you have to open `pavucontrol` and select `Built in analog stereo (echo cancellation ....)` for all your `Playback` sources - you'll have to catch mycroft while he's speaking on the `Playback` tab - weather is good for this - and on the `Recording` you'll a

[2016-06-09 09:18] the7erm commented on #57
I guess I should also mention I had some music playing and being piped through echo cancellation during the process as well.

[2016-06-09 14:43] Clifspeare commented on #115
Hmm.  I ran the build_host_setup on my kubuntu system and it ran.  Maybe I'm just missing a package on Arch?

[2016-06-09 15:16] robocoder99 commented on #123
Yeah, a central media server with multiple integrations built-in is a smart way to do it. Maybe we could find some way to automate an "out of the box" install for this. I will look at your code, run it on my dev setup and get back to you.

[2016-06-09 15:21] forslund commented on #57
I have had good results with this as well. It can be somewhat automated:
[code]
These lines can be run in the terminal and will create and select the echo cancelled source and sink. The lines could also be included in the pulsaudio configuration.

[2016-06-09 15:28] forslund commented on #123
Out of the box functionality would be nice and is the planned next step. Your contributions are welcome!

[2016-06-09 16:46] grahamreeds commented on #123
My music library is on a NAS with Plex on it but any DLNA support would be
good.

Things to think about: "Mycroft, play Downward Spiral". Do you play the
album or the song or do you kick up an error as it is The Downward Spiral?

GR

Sent from my Nexus 5.
On 9 Jun 2016 4:28 p.m., "Åke" <notifications@github.com> wrote:

[2016-06-09 16:50] ethanaward commented on #111
This should be fixed by #120, I added that in while creating tests for the time skill.

[2016-06-09 16:53] ethanaward commented on #94
This should also be largely fixed by #120. I added intent tests for almost all of the skills that didn't have them, with the exception of those that seemed like a special case, such as the `stop` and `cerberus-config` skills. One of the intents for the `desktop-launcher` is also not being hit, since it gets its list of Application vocab from what's currently installed on the system, so any test wo

[2016-06-09 16:55] ethanaward commented on #71
#95 has been merged, so this should be solved now.

[2016-06-09 17:14] ethanaward commented on #121
When I say `Mycroft, tell me about cats`, this is what I get:
[code]

That seems to be working as intended. The problem comes when it is heard as `Mycroft, me about cats`. He then searches for `me about cats`, which doesn't return anything he currently understands. This is part of #63, with improving what Mycroft can understand from Wolfram queries. It's also related to actually recognizing the au

[2016-06-09 17:17] ethanaward commented on #108
How would you recommend we do this?

[2016-06-09 18:00] ChristopherRios7 commented on #123
Hello all,

Someone make this a pull request.
I want this to be real skill.

Regards,

Christopher

[2016-06-09 18:02] forslund commented on #123
@grahamreeds, plex would be a nice addition. I'll look into adding plex as a media server in addition to mopidy. I'm looking into some DLNA support at the moment but as I'm only a happy hobbyist I will probably flounder for a while. If you have experience with this any pointers to resources or direct help are welcome.

Regarding the track vs album selection the current example skill is limited to

[2016-06-09 18:10] forslund commented on #123
@ChristopherRios7 I had this up for a PR a while ago but closed it since I couldn't automate all the installation steps. Someone (@clusterfudge maybe) suggested that it might be a good idea to have these skills in a separate container.

The skill-container approach should at least give people a chance to try the skill and provide feedback until the skill is in good enough shape to be considered to

[2016-06-09 18:13] ethanaward commented on #103
I did some debugging, and the issue is in listener.py. If you say mycroft's name relatively slowly when trying to pair, he gets two separate relatively long pieces of audio, and creates two stt runnables, each of which tries to connect to Cerberus and gives an error when they can't.

[code]

[2016-06-09 18:15] ChristopherRios7 commented on #123
@forslund I agree with you about containerizing the skills, much like Snappy or Flatpack Packages. We as a team need to set guidelines for this. @clusterfudge - Let's work together on this. Cerberus should hold all skills and send the containerized skill to individual units on a persons account.

[2016-06-09 18:30] robocoder99 commented on #123
What is the current plan for non-trivial dependency handling? I assume at some point skills will be handled almost like packages installing them either via commands or adding them to a config to be installed automatically. Will the containerization you are currently planning handle that? I.e. Libspotify is a dependency of this skill but it "non trivial" to install as it is not apt-get etc.

[2016-06-09 21:18] jdorleans opened #125 "Update test runner to run test files without the need of 'test' suffix"
We have been implementing unit test for our skills following the same file hierarchy declared for the code base. Therefore, our test runner should be able to identify and run any test file declared inside the 'test' folder.

[2016-06-09 23:16] #125 closed

[2016-06-09 23:16] #96 closed

[2016-06-10 15:38] ryanleesipes opened #128 "Listener Improvements"
The listener is still quite difficult to trip in many cases (specifically on the unit). And does not feature enough feedback to ensure that the user knows what is going on at each stage.

I propose a redesign to ensure a better user experience. Mycroft HQ will put together a library of  1000 recordings by June 16 to run tests against. We should begin making adjustments to the listener (both UX and

[2016-06-10 16:26] Wolfgange3311999 commented on #128
What were you thinking on feedback to the user? Perhaps a series of debug logs saying:
Wake word detected! Removing wake word from audio... [Mycroft's face changes]
Transcribing audio... [Another subtle change on Mycroft's display]
Transcription: Tell me a joke. Finding intent...
Intent found: JokeIntent. Deciding response...
[Mycroft begins to speak]

I was thinking, since pocket sphinx is so lig

[2016-06-10 17:27] ryanleesipes commented on #128
Yes, that or we might end up developing two separate modes - call and response, and passive listening. I think the passive listening (that we currently use), doesn't seem responsive enough. However, maybe that is just a lack of feedback.

This is something we have considerable issues with when using the technology, and through the changes we've made - we either get too many false positives, or it

[2016-06-10 23:04] the7erm opened #131 "Mycroft listens on all nics by default"
By default mycroft will listen on `0.0.0.0` if `service_config` is `None` or an empty string.

[code]
https://github.com/MycroftAI/mycroft-core/blob/master/mycroft/messagebus/service/main.py#L43

This is a security issue because any device on the Lan can access the service.  This also is a problem if the user puts mycroft in a DMZ or directly on the net.

[2016-06-10 23:31] the7erm commented on #131
Here's the main reason why I think it's a good idea to force 127.0.0.1 if it's an empty string:
http://www.securityweek.com/configuration-issue-exposes-30000-mongodb-instances-researcher

Mongodb didn't and because of it they jeopardized their reputation as well as millions of users' data.

I figure if you're smart enough to change it to 0.0.0.0 then you know what you're doing, but the fact that a

[2016-06-11 01:25] #9 closed

[2016-06-11 01:25] #50 closed

[2016-06-11 16:19] augustomna2010 opened #133 "Facebook link is redirecting for google plus on Cerberus"
In facebook link on footer is redirected for google plus

[2016-06-11 19:20] augustomna2010 opened #134 "Favicon cerberus"
Add favicon in cerberus

[2016-06-11 21:03] robocoder99 opened #135 "Intent support relative dates"
Mycroft weather skill should to be able to take datetimes of any form as input and needs to be able to understand them. This should also apply to any other skill requiring a datetime.

Example:
[code]
The general idea being that skills such as the weather, should parse datetimes the same way that the alarm skill does. The actual parsing is mostly implemented with "time_rules" although the actual c

[2016-06-11 22:22] augustomna2010 opened #136 "Cerberus remove refresh"
Always change page in cerberus page is refreshed

[2016-06-12 02:43] robocoder99 commented on #135
If the Mycroft team thinks this is worth integrating in with Intents I can start work on that. If y'all would rather keep it separate on a skill by skill basis I can start working on the weather skill individually too. I think its something that will eventually be needed by many skills though and should be a part of Mycroft's understanding of your input in general.

[2016-06-12 06:36] grahamreeds commented on #135
A Google search I use regularly is to see the weather at a particular
location at a particular time.

So asking "Mycroft, what is the weather like on Sunday?" would hopefully
ellicit a response after checking a calendar, see I am at Teesside
Autodrome and then look up the weather for the racetrack and not a
generalist response for the day.

GR

Sent from my Nexus 5.
On 12 Jun 2016 3:43 a.m., "Robo

[2016-06-12 17:16] marksev1 opened #137 "Google Calendar skill"
Would be nice to ask Mycroft for scheduled events and stuff. Also this could be maybe combined with some general combined "Report skill" for Mycroft which could at the morning for example give information regarding weather, news and scheduled events.

[2016-06-12 17:17] marksev1 commented on #92
This would be good... Could you maybe expand it with conversion of physical properties or maybe also currencies, or should we look at different skills to do that...Maybe Wolfram Alpha I don't know?

[2016-06-12 17:19] marksev1 opened #138 "MQTT skill"
As discussed on slack, to keep you developers aware that it would be cool to have so other open source home automation software could integrate with it, for example Node-red :D....Other idea would be to fork node-red or mqttwarn and integrate it into Mycroft. :) But the end result should be the same, it should spew out MQTT sentences.

[2016-06-12 17:20] marksev1 commented on #83
Also some jokes, from some repository of jokes, if there is any such repository :D?

[2016-06-12 17:34] ryanleesipes commented on #138
Completely agree. I like the idea of integrating node-red, but we really need a leader who understands this to walk us through how to best do this.

[2016-06-12 19:03] clusterfudge commented on #135
@robocoder99 We have most of what you're asking for (with respect to relative dates) in our reminders and alarm skills. It is based on [parsedatetime](https://github.com/bear/parsedatetime) and implemented within mycroft, but our longer term solution is to push datetimes as a first class citizen down into Adapt. Until datetimes exist within Adapt, it would be difficult to do this well. I have open

[2016-06-12 19:44] the7erm commented on #108
This one is going to be a challenge.
The problem isn't just that there's a regex (that could be put in file similar to `.dialog` and `.voc` ) but the code to process the regex patterns maybe different.

This will handle 100% of the situations where there's a 1 to 1 match.
##### Sample `mycroft/skills/<skill_name>/regex/<lang>/LocationRegex.rx`
[code]

`MycroftSkill.load_data_files(self)` would the

[2016-06-13 03:15] ryanleesipes commented on #128
Notes:

1.) Add tone for acknowledgement.
2.) Add ability to change between passive and call+ Response in config file
3.) "Hey Mycroft" for Call+Response.

[2016-06-13 03:42] robocoder99 commented on #135
@clusterfudge I will close this for the time being as it is an Adapt problem more than an Mycroft one for now.

[2016-06-13 03:42] #135 closed

[2016-06-13 03:48] clusterfudge commented on #135
cool. Feel free to watch the adapt ticket for updates!

[2016-06-13 17:19] aatchison opened #140 "Update Docs to use adapt-parser from pypi.python.org"
Now located at: https://pypi.python.org/pypi

[2016-06-13 18:14] aatchison commented on #115
Unfourtunatly, build_host_setup.sh is apt-centric.

[2016-06-13 18:14] aatchison commented on #115
Ahh, sorry. I misread that.

[2016-06-13 18:16] #111 closed

[2016-06-13 18:53] ryanleesipes commented on #140
Assigned to @ethanaward

[2016-06-13 18:54] ryanleesipes commented on #136
Assigned to @jdorleans to review.

[2016-06-13 19:02] ryanleesipes commented on #134
Assigned to @jdorleans for review.

[2016-06-13 19:14] ryanleesipes commented on #137
Assigned to @ChristopherRios7 to research.

[2016-06-13 19:17] ryanleesipes commented on #94
@ethanaward please provide feedback on whether or not we should close this.

[2016-06-13 19:17] ryanleesipes commented on #122
Yah! A task for @isaacnward !

[2016-06-13 19:22] ethanaward commented on #94
I think we should, yeah. All of the current skills have intent tests. We can open up a separate issue for the `desktop-client` test that I was having trouble with, and possible ask the creator of the skill about it. We should make sure that new skills have intent tests, however.

[2016-06-13 20:16] ethanaward commented on #140
Where in the docs would this be? It's installed in `dev_setup.sh`, which we don't really have docs for right now.

[2016-06-13 20:17] ryanleesipes commented on #121
Closing, but we should keep these kind of queries in mind as we move forward.

[2016-06-13 20:17] #121 closed

[2016-06-13 20:19] ryanleesipes commented on #138
@ChristopherRios7 please familiarize yourself with [MQTT](https://en.wikipedia.org/wiki/MQTT) at length.

[Node-Red](http://nodered.org/) uses this at length, perhaps you could have a conversation with them about this protocol.

[2016-06-13 20:22] ryanleesipes commented on #83
@marksev1 I think we may have discussed this, but [pyjokes](https://github.com/pyjokes/pyjokes) is currently in use in the jokes skill.  Going to open up a new ticket to look into getting some more general jokes into the repo.

@ChristopherRios7 can you review this and perhaps look into maintaining our own joke dialog files?

[2016-06-13 20:24] ryanleesipes opened #142 "Refactored Joke Skill"
Let's refactor the joke skill to contain more general jokes.

[2016-06-13 20:24] ryanleesipes commented on #83
Actually moving this to ticket #142. Closing this ticket.

[2016-06-13 20:24] #83 closed

[2016-06-13 20:27] ryanleesipes commented on #56
Looks like at this point, if I'm not mistaken, we need to build this into each of the existing skills (to kill Mimic), I guess we can do that via the "stop" function?

[2016-06-13 20:27] ryanleesipes commented on #56
Also @jdorleans - @isaacnward fixed our encoder issue.

[2016-06-13 20:29] #71 closed

[2016-06-13 20:30] #94 closed

[2016-06-13 20:30] ryanleesipes commented on #103
I'm adding @Wolfgange3311999 to this ticket to help solve this once and for all.

[2016-06-13 20:31] ryanleesipes commented on #39
Currently in QA in another repo, closing.

[2016-06-13 20:31] #39 closed

[2016-06-13 20:32] ryanleesipes commented on #5
Currently in QA in another repo, closing.

[2016-06-13 20:32] #5 closed

[2016-06-13 22:00] ethanaward opened #143 "CONTRIBUTING.md is not updated to the current repo."

[2016-06-13 22:15] ethanaward opened #145 "Naptime skill does not used localized dialog"
The naptime skill currently has hardcoded dialog rather than localized dialog.

[2016-06-13 22:16] ChristopherRios7 commented on #145
I can take care of it.

[2016-06-13 22:16] ChristopherRios7 commented on #145
Assign it to me

[2016-06-13 22:26] ethanaward commented on #145
I'm not sure that I can assign people.

[2016-06-13 22:39] jasonehines opened #146 "Easier startup script"
I created a simple bash script that will run the three scripts listed in the README in detached screens and append to their respective logs.

This is my first time contributing code to another project, so if I didn't do it properly, please let me know.

[2016-06-13 22:44] ethanaward commented on #146
Thanks, @jasonehines! This is an issue, so we can't actually review or even see your code. To properly suggest additions, you need to [submit a pull request](https://help.github.com/articles/using-pull-requests/). Feel free to also [take a look at our contributing guidelines](https://github.com/MycroftAI/mycroft-core/blob/master/CONTRIBUTING.md).

[2016-06-13 22:57] jasonehines commented on #146
I messed up my pull request the first time and did it to my own fork. I did a second one and I think I did it properly. Please let me know if I didn't.

[2016-06-14 00:48] ryanleesipes commented on #145
@christopher.rios7 no need to be assigned, you can just say "I got this"

[2016-06-14 01:35] ChristopherRios7 commented on #142
Okay, @ryanleesipes. I will play with the libary and pick some random general jokes from Python

[2016-06-15 20:29] ryanleesipes opened #149 "Roku Support"
We be implementing Roku Support! Yarb!

Repo: https://github.com/jcarbaugh/python-roku

[2016-06-15 20:30] ryanleesipes commented on #149
https://pypi.python.org/pypi/roku/2.0

[2016-06-15 20:52] LongBoolean opened #150 "factorial, '!' is not pronounced"
"Mycroft what is five factorial?"
Mycroft: "five is one hundred and twenty"
The '!' is not pronounced, likely because it is treated like a regular exclamation mark by the TTS.
Either mimic needs to learn how to differentiate between the meanings, something that could be a bit error prone when applied generically, or the wolfram skill should convert "5!" into "5 factorial" before calling speak.

[c

[2016-06-15 21:24] forslund commented on #150
I would recommend that the wolfram skill converts the !-operator to a string. As you say, in Mimic it'll be really hard to define the case where it should be expanded to "factorial" and when it should be dropped.

[2016-06-15 21:54] LongBoolean opened #151 "shm_open() failed: Too many open files in system (Segmentation fault)"
./start.sh voice segfaults after a period of time
I have had a similar issue for quite some time even before mycroft-core was released. Just making note that this is still an issue.

[code]

commit 78b917a71fd27519a94dd959286a41aa27345c5e

[2016-06-16 15:01] MatthewScholefield opened #153 "Sub categorized build instructions"
To make sure the build instructions on the doc + readme are not too Ubuntu-centric, I think we should provide info on the packages that must be installed along with sub pages for each distribution. For Solus the following command can be used:

[2016-06-16 17:32] clusterfudge opened #154 "unit tests run 3 times"
When using the start.sh unittest command or invoking the test script directly, unit tests are executed 3 times. This is happening because the runner has been put into the __init__ for the root module, and it gets imported and executed multiple times (the original script did not check if __name__ == __main__, and was copied to a new location).

[2016-06-16 18:37] Wolfgange3311999 opened #156 "dev_setup.sh uses only one thread for compiling"
When compiling pocketsphinx, only one thread is used. To speed things up make should use the `-j N` flag with the appropriate amount of cores.

[2016-06-16 21:07] Wolfgange3311999 opened #158 "Alarm skill doesn't speak the date naturally"
What I mean by this is if setting an alarm for 5 minutes, it reads the entire date (ie. "set an alarm for Thrusday, June 16th, at 04:05 pm") rather than simply saying the same thing in simpler terms (ie. "set an alarm for 5 minues"). And if the date is a day ahead I think it would be best that it says "Tomorrow at 4:05pm".

[2016-06-16 21:15] Wolfgange3311999 opened #159 ""Whats" is not parsed out when searching WolframAlpha"
`what is a dog` results in `I am searching for a dog` whereas `Whats a dog` results in `I am searching for whats a dog`.

[2016-06-17 00:46] Wolfgange3311999 opened #160 "Ip addresses are reported too verbosely"
When only asking "what is your ip address" I think the response should be a single, best-guess answer such as `192.168.80.51 on eth0`. Currently for each interface mycroft gives `interface: eth0, I.P. Address : 10.42.0.15` followed by `interface: wlan0, I.P. Address : No IP addr`

[2016-06-17 00:56] clusterfudge commented on #160
I think there's probably value in being more concise when there's no information (for example, excluding the wlan interface description in your example above). A "best guess" implementation would need to be extended to support specific interface querying, or listing interfaces, or listing connected interfaces, etc.

For example,
[code]

[2016-06-17 05:25] Wolfgange3311999 commented on #160
Yes. Do you think it's reasonable to assume wlan[0-9] is wireless and eth[0-9] is ethernet?

And if the user only asks for its IP address and multiple have valid IPs I was thinking it would select the top one.

[2016-06-17 05:33] aatchison commented on #160
One problem with that is that many wireless interfaces are enumerated as wlp3s0 or similar these days. I bet there is another way to discern what type of connection a NIC actually is.

[2016-06-17 05:36] aatchison commented on #160
Even though this skill mostly exists to enable a user to configure a headless mycroft unit, I would say gather the info from the kernel. Also, there is no wlan0 in Windows or OSX

[2016-06-17 05:45] aatchison commented on #160
On top of that:
What if your unit was connected to a vpn, or some other means. This skill really seems mostly useful on the unit and more of a novelty on say, the desktop... Since the pi3 is always eth0 or wlan0, maybe that would work. It just seems to generic of a thing to me. If I want nic info I can use ifconfig and get all active interfaces, I don't mind the verbosity. If I connect a unit to e

[2016-06-17 05:47] aatchison commented on #160
Maybe the default route is the ticket!

[2016-06-17 05:54] Wolfgange3311999 commented on #160
@aatchison What about having the only change be that interfaces without an IP address would be excluded?

[2016-06-17 05:56] aatchison commented on #160
That sounds much more useful than empty IPs or local host, while not
excluding connected interfaces, whatever they may be ;)
On Jun 17, 2016 12:54 AM, "Matthew D. Scholefield" <notifications@github.com>
wrote:

[2016-06-17 09:02] the7erm opened #161 "custom skills"
Currently there is no architecture to create a 3rd party skill

- User dir `~/.mycroft/third_party_skills`
- `mycroft/third_party_skills`

[2016-06-17 13:13] forslund commented on #161
Would this replace the [skill-sdk](https://docs.mycroft.ai/development/skills-sdk) approach or be in addition to it?

[2016-06-17 13:32] the7erm commented on #161
No, it's intended to be used by 3rd party developers of skills.  It's for people like me who want to create custom skills and release them, but know that there's just no way it's going to be adapted to mycroft-core.

[2016-06-17 16:27] #161 closed

[2016-06-17 17:15] ryanleesipes opened #165 "3rd Party Skills Directory"
Create a directory that 3rd party skills can be "installed" into, that is kicked off at start time (along with the core skills). Need to determine where 3rd party skill configuration lives.

[2016-06-17 18:49] ryanleesipes commented on #160
Exclude interfaces without an IP address, and format the output so that it reads more naturally (replacing "." with "dot", for instance).

[2016-06-17 18:49] ryanleesipes commented on #160
Assigned to @ethanaward

[2016-06-17 19:21] the7erm commented on #48
This might be a challenge because I'm not sure if pulse audio always loads the devices in the same order.  I remember hearing Chris on an episode of the Linux Action Show complaining about if he rebooted sometimes audio would go through HDMI sometimes the sound card.  @ethanaward when you're working on this one you might want to keep that in mind.

I've intentionally disabled hdmi so even if I hav

[2016-06-17 20:56] ethanaward commented on #143
Fixed by #144.

[2016-06-17 20:56] #143 closed

[2016-06-17 20:59] ethanaward commented on #160
Addressed by #170.

[2016-06-17 21:55] aatchison commented on #165
I think we are nearly there, thanks @the7erm .

[2016-06-17 21:55] #160 closed

[2016-06-17 21:56] aatchison commented on #154
Fixed by: https://github.com/MycroftAI/mycroft-core/pull/155

[2016-06-17 21:56] #154 closed

[2016-06-17 21:57] aatchison commented on #149
In progress: https://github.com/MycroftAI/mycroft-core/pull/166

[2016-06-17 21:57] aatchison commented on #146
Very close: https://github.com/MycroftAI/mycroft-core/pull/147

[2016-06-17 21:58] aatchison commented on #140
cool.

[2016-06-17 21:58] #140 closed

[2016-06-17 22:00] aatchison commented on #133
fixed

[2016-06-17 22:00] #133 closed

[2016-06-17 22:00] aatchison commented on #131
Getting closer: https://github.com/MycroftAI/mycroft-core/pull/132

[2016-06-18 17:19] #128 closed

[2016-06-18 17:32] aatchison commented on #146
Merged PR. https://github.com/MycroftAI/mycroft-core/pull/147

[2016-06-18 17:32] #146 closed

[2016-06-19 03:48] ryanleesipes commented on #165
Solved by #168

[2016-06-19 03:48] #165 closed

[2016-06-19 03:49] ryanleesipes commented on #63
Seems to have been mostly solved by the Wolfram refactor from @ethanaward - closing ticket.

[2016-06-19 03:50] #63 closed

[2016-06-19 03:50] #44 closed

[2016-06-19 03:51] ryanleesipes commented on #151
With big changes to the listener, let's monitor whether or not this is still an issue.

[2016-06-19 03:53] ryanleesipes commented on #92
PR for this closed. Closing accompanying issue.

[2016-06-19 03:53] #92 closed

[2016-06-19 06:29] the7erm opened #175 "ubuntu 14.04 missing screen"
It looks as if `screen` isn't installed by default in ubuntu 14.04.  It's required by [`mycroft.sh`](https://github.com/MycroftAI/mycroft-core/blob/master/mycroft.sh).
http://releases.ubuntu.com/14.04/ubuntu-14.04.4-desktop-amd64.manifest
It needs to be added to [`build_host_setup.sh`](https://github.com/MycroftAI/mycroft-core/blob/master/build_host_setup.sh)

[2016-06-19 14:23] jasonehines opened #178 "Created pull request to update readme"
#177

[2016-06-19 23:45] jasonehines opened #179 "Run Mycroft as a service?"
I've setup my computer to start Mycroft automatically after login by adding `/bin/bash /home/jasonehines/Development/mycroft-core/mycroft.sh start` to my Startup Applications.

However, I wonder if it would be a better thing to make it a system service that still has user options. What would be the pros and cons?

Pros:
- It could potentially be used as a replacement for disabled people to interac

[2016-06-20 00:14] aatchison commented on #179
If you take a look at publish/publsh.sh, you can see that we start system services for Mycroft on the units. I don't know what to do about multiple users, but run that script and it will create a db for you in ./publish.

[2016-06-20 02:02] jasonehines commented on #179
Cool. I'll check that out.

[2016-06-20 15:31] ethanaward commented on #150
This is fixed by #152 and can be closed.

[2016-06-20 15:34] #150 closed

[2016-06-20 15:36] aatchison commented on #175
I wonder if we should keep build deps separate, becasue screen is really not needed at all unless you use the easy start script.

[2016-06-20 15:37] aatchison commented on #156
I would personally use nproc to count the number of available cores.

[2016-06-20 15:37] ethanaward opened #180 "Stock skill"
There's no skill for checking stock prices right now.

[2016-06-20 15:42] #178 closed

[2016-06-20 16:03] ryanleesipes commented on #145
Reassigned to @ethanaward

[2016-06-20 16:06] ethanaward commented on #159
This has to do with the basic EnglishQuestionParser that @clusterfudge made in the WA skill. It currently only removes certain words that it parses as question words. This doesn't actually affect what it sends to WA, though. Even though when you ask `what is a dog`, Mycroft responds `I am searching for a dog`, he still sends the query `what is a dog` to Wolfram. The removal of question words only

[2016-06-20 16:16] ryanleesipes commented on #138
@ethanaward assigned to assess this.

[2016-06-20 16:18] ryanleesipes opened #182 "Assess SmartThings Skill"
Assess SmartThings API and see about implementing a SmartThings skill.

[2016-06-20 16:19] ryanleesipes commented on #180
This should be a core skill.

[2016-06-20 16:36] ethanaward commented on #86
Addressed further by #184

[2016-06-20 16:38] ethanaward commented on #158
This should be a relatively simple change in the alarm skill.

[2016-06-20 16:42] aatchison opened #185 "Alan Pope's flitevox file is in a bad location..."
...and the publish script release version is hard coded.

[2016-06-20 16:49] isaacnward commented on #122
This'll probably be a fairly simple issue to fix, and I'm planning on getting it done this week as part of my push to implement faceplate functionality in more core skills.

[2016-06-20 17:02] #175 closed

[2016-06-20 17:05] Wolfgange3311999 commented on #103
This has been resolved with the new listener since only one audio segment is sent to be parsed. However I will keep this in mind when making the new passive listener.

[2016-06-20 17:05] #103 closed

[2016-06-20 17:06] isaacnward commented on #56
The encoder's working now, but there are still two things standing in the way of this issue getting fixed: the lack of stop functionality in existing skills (which I can work on if needed), and the slow response time described in MycroftAI/enclosure#7 (which is a pretty large problem, but I'll be prioritizing it this week).

[2016-06-20 17:20] ryanleesipes commented on #56
Alright, let's close this and get a different issue popped up to implement stop functionality into existing skills.

[2016-06-20 17:21] ryanleesipes commented on #149
Looks like we are moving this out to be an optional "third party" skill. So I am closing this ticket. Will pop up a repo for this.

[2016-06-20 17:21] #149 closed

[2016-06-20 17:22] ethanaward opened #187 "Wolfram Alpha skill frequently does not work"
The WA skill always gets responses back from the WA API, but cannot correctly get information from many of them.

[2016-06-20 17:23] ryanleesipes commented on #48
Is this actually happening, anyone have any insight into what is going on here?

[2016-06-20 17:24] ryanleesipes commented on #108
@ethanaward please review.

[2016-06-20 17:36] Wolfgange3311999 opened #189 "Mycroft is too light of a sleeper"
After saying "mycroft sleep", the next time he hears "mycroft" he will wakeup (Even if you didn't say "mycroft wakeup".

[2016-06-20 17:44] Wolfgange3311999 commented on #159
@ethanaward What minor issues were you running into?

[2016-06-20 17:50] ethanaward commented on #159
From what I remember, it was only working some of time, so `whats cats` would give `I'm searching for cats`, but `whats a cat` would give `I'm searching for whats a cat`.

[2016-06-20 17:53] MatthewScholefield opened #191 "Brightness Skill"
Mycroft should be able to decrease the brightness of the LED eye rings with something like "mycroft, decrease your brightness" or "mycroft, your face is too bright". Ideally, this would also support setting absolute brightness such as "mycroft, set your brightness to medium".

[2016-06-20 18:12] jdorleans commented on #56
Guys, this task is about dealing with TTS stop feature. It requires migrating the kill function from inside the core Enclosure to the TTS engines and then stopping any related TTS process properly.
This task is not about fixing the hardware encoder issue nor stopping skills.

[2016-06-20 18:31] Wolfgange3311999 opened #192 "Wolfram Alpha Skill fails when results have 'did you mean?' queries"
For instance, when asking for "What is a power supply?", Mycroft will respond
"I don't understand your request". This is because Wolfram only provides optional similar alternatives such as "What is a power". I think that in this scenario Mycroft should automatically send another request to Wolfram with the top similar alternative query and notify the user of this. So for example,
"Hey Mycroft, wha

[2016-06-20 18:39] Wolfgange3311999 opened #193 "Mycroft should only repeat the query in wolfram when short to speak"
When the estimated time to speak "I am searching for blah blah blah blah" will take longer than the estimated time to get the result from wolfram, only the result should be said rather than the redundant "I am searching for ...".

[2016-06-20 19:04] Wolfgange3311999 opened #194 "Wolfram should be more concise"
For instance, when asking "What is a power", it should read only the first definition rather than all 10.

[2016-06-20 19:06] ethanaward commented on #194
This is related to a larger issues with parsing Wolfram output as well, since Mycroft frequently gives back responses that don't sound very natural.

[2016-06-20 21:36] ryanleesipes opened #198 "Pairing Skill is Broken"
Pairing skill is now broken, let's get this fixed.

Says an error occurred while trying to kick off the pairing skill. @aatchison can you add the error?

[2016-06-20 22:03] ryanleesipes commented on #198
Solved by #199

[2016-06-20 22:03] #198 closed

[2016-06-20 22:14] Wolfgange3311999 opened #200 "Too many false positives when detecting wake word"

[2016-06-20 22:25] ryanleesipes commented on #189
True dat.

[2016-06-20 22:29] ethanaward opened #201 "Improve stock skill"
The vocabulary used to trigger the stock skill can be added to, e.g. `What is Twitter's stock price`.  We can also add some more advanced features, such as `How are the markets doing`. This may require use of a different API, however.

[2016-06-20 22:29] ryanleesipes commented on #201
:+1:

[2016-06-20 22:34] aatchison commented on #131
This was merged.

[2016-06-20 22:34] #131 closed

[2016-06-20 22:42] ethanaward commented on #145
Fixed by #183, closing.

[2016-06-20 22:42] #145 closed

[2016-06-21 04:10] ryanleesipes commented on #180
Finished and merged, closing issue.

[2016-06-21 04:10] #180 closed

[2016-06-21 09:30] marksev1 commented on #138
On Youtube there are nice clips describing MQTT. This broker: http://mosquitto.org/ is popular.choice. Here is the relevant python library - https://pypi.python.org/pypi/paho-mqtt/1.1

[2016-06-21 14:55] aatchison opened #205 "README.md should reflect configuration file changes."
I can't find the PR atm.

[2016-06-21 15:37] ethanaward commented on #158
This is actually behavior from the base `ScheduledCRUDSkill` class that @jdorleans created, which formats the time metadata as the full date. In order to change that, we'd have to change the base class, which would modify the behavior of all skills that inherit from that. That would be fine as long as we make sure that's what we want to do.

[2016-06-21 15:41] ethanaward commented on #156
Fixed by #190.

[2016-06-21 15:41] #156 closed

[2016-06-21 15:52] ethanaward commented on #108
@the7erm That localization does seem like a good implementation. What do you mean by situations where the match isn't 1 to 1?

[2016-06-21 16:23] the7erm commented on #108
It all comes down to sentence structure.  In one language what you're trying to capture will just be a continuous string.  In another language you'll need to capture the beginning of a sentence and the end. Considering this scenario the code to process the match of a regex for english speakers may be completely different compared to another language.

Keep in mind I'm not linguist.  I'm only guess

[2016-06-21 19:02] aatchison commented on #205
Thanks @ethanaward , lgtm

[2016-06-21 21:00] ethanaward commented on #187
Addressed by #188. Anyone should feel free to test out that new change and see how they feel about WA's new responses.

[2016-06-21 21:04] ethanaward commented on #187
Also - #188 may have also not addressed all the Wolfram problems, as there could still be edge cases that this change does not help. There could also be some cases where Mycroft grabs information that is not related to the intended query.

[2016-06-21 21:54] jdorleans opened #209 "Keep user configuration by default"
During new configuration loads, we should always preserve the user configuration from `~/.mycroft/mycroft.ini`, unless there is an explicitly override declaration.

Note: this task might be related to issue #48

[2016-06-21 21:58] #205 closed

[2016-06-22 08:25] paulscott56 opened #212 "Websocket needs to have origin check disabled for 3rd party connections"
messagebus/service/ws.py needs to have a method to disable cross origin checks in order for 3rd party devices and apps to connect (e.g. the Android client)

This is easily achieved by adding

`` def check_origin(self, origin):
        return True
``

[2016-06-22 13:48] ahcorde opened #213 "Not able to register"
Hi everyone,

I just received Mycroft, but I'm not able to register my device.

The first time that I submit the 6 digits code, my web-browser redirect me to https://cerberus.mycroft.ai/device, but the list of device is empty. Then when I try to repeat the proccess I always see the message "Failed to pair with device"

I have try to put the URL in the web browser without the button using (checking

[2016-06-22 14:24] aatchison commented on #213
Hmm, you might take a look to see if  `/home/mycroft/.mycroft/identityidentity.json` exists, if it does, try deleting that and rebooting the unit, then pair again.

[2016-06-22 14:50] joshymcd opened #214 "Cannot connect to messagebus service externally"
Get an "WebSocket connection to 'ws://localhost:8000/events/ws' failed: Error during WebSocket handshake: Unexpected response code: 403" error when connecting to messagebus service
after investigating it looks like a self origin issue

[2016-06-22 14:55] joshymcd commented on #214
Closing due to duplicate of #212

[2016-06-22 14:55] #214 closed

[2016-06-22 16:11] aatchison commented on #185
I fixed the hardcodedness bit of this issue, the rest won't go away until the new voice is compiled into mimic and not part of the core.

[2016-06-22 16:11] #185 closed

[2016-06-22 16:25] joshymcd commented on #212
created PR 215 for this issue

[2016-06-22 18:43] MatthewScholefield opened #218 "Passive listener"
There should be a passive mode where Mycroft can respond to queries both before and after the wake word.

[2016-06-22 18:44] aatchison commented on #213
Did you even have any luck with this?

[2016-06-22 18:47] Wolfgange3311999 commented on #194
I don't know if there's a unified solution to them all. However, would it be effective to read a minimum of of certain amount of characters and then stop on the next newline?

[2016-06-22 18:51] Wolfgange3311999 opened #219 "Listener sample audio tests"
There need to be some sort of branch that tests the accuracy of the listener on all of the unit tests. It should use a MockMicrophone that feeds in a sample audio file as it is read and then records whether the listener outputted that the wakeword was caught.

[2016-06-22 19:00] ethanaward commented on #194
Stopping on a newline would likely help somewhat, especially with the definitions.

[2016-06-22 19:22] isaacnward commented on #122
#210

[2016-06-22 19:36] aatchison commented on #179
This issue really pertains only to packaged instances of Mycroft, not really to developers using the git checkout, so I'm going to close. Feel free to re-open if you need to.

[2016-06-22 19:36] #179 closed

[2016-06-22 19:56] isaacnward commented on #122
(and by #210 i mean #220)

[2016-06-22 21:39] ethanaward commented on #108
#222 in place to solve this

[2016-06-22 23:46] jasonehines opened #223 "speak skill"
I created a speak skill. Would you like it in the repository?

[2016-06-23 05:41] the7erm commented on #223
@jasonehines I couldn't find the folder, did you forget to push it?
https://github.com/jasonehines/mycroft-core/tree/speak-skill/mycroft/skills

What exactly does the speak skill do?

    Hey mycroft say:<word or phrase>

[2016-06-23 11:32] jasonehines commented on #223
@the7erm No. I wasn't sure if it was even wanted in the repository since third party skills folder was announced recently. I have another pull request open too and don't know how to do a separate one.

Yes. you can use speak, say or repeat. I saw someone request it in the forums and I was planning to call it from a bluetooth proximity script to greet the person.

[2016-06-23 12:55] ahcorde commented on #213
I have removed this file but now if I execute `top` I'm not able to see mycroft services

[2016-06-23 14:55] Wolfgange3311999 opened #224 "Listener waits too long and too often for more sound"
Often when saying short queries in which the listener hasn't detected enough total noise it sits there waiting for more when in fact you are actually done speaking. To resolve this we should decrease the minimum seconds of noise and put a limit to how long it will wait (perhaps 3-4 seconds).

[2016-06-23 15:18] ethanaward opened #226 "Test coverage is not extensive enough"
Currently, many files in mycroft-core are not covered by tests. This includes:
- [ ]  skills.core
- [ ]  skills.scheduled_skills
- [ ] Unit tests for many skills.

[2016-06-23 17:03] ethanaward commented on #223
@jasonehines: Here's how to [create a new PR](https://help.github.com/articles/creating-a-pull-request/). Feel free to do so and we'll take a look at it.

[2016-06-23 17:08] ethanaward commented on #192
@Wolfgange3311999 In order to properly implement this to give feedback to the user, I feel like we would need a dialogue feature, so that the user can select an option from possible `Did you mean...`s. I can make a basic version of this that works when there is only one `did you mean`, but that wouldn't cover all cases.

[2016-06-23 22:00] isaacnward commented on #223
Looks like this has been solved by #228!

[2016-06-23 22:00] #223 closed

[2016-06-23 22:03] isaacnward commented on #30
This is the same issue as #219, which is on its way to getting merged.

[2016-06-23 22:03] #30 closed

[2016-06-23 22:07] isaacnward commented on #86
#184 solves this.

[2016-06-23 22:07] #86 closed

[2016-06-23 22:27] #224 closed

[2016-06-24 07:11] el-tocino opened #232 "Updates to mycroft.sh"
Allows for individual services to be handled.
Defaults to the three currently handled by existing mycroft.sh.
Restart will start a non-running instance now.

[2016-06-24 07:46] #232 closed

[2016-06-24 14:45] isaacnward commented on #219
Added in #229.

[2016-06-24 14:45] #219 closed

[2016-06-24 16:14] isaacnward opened #234 "Weather communication with face display"
The weather skill in Mycroft Core should be able to communicate with the faceplate through the Enclosure class to display information about the weather (probably the weather conditions and current temperature) on units' mouths. This relies on the Arduino side of the code, as well, which is addressed in MycroftAI/enclosure#13.

[2016-06-24 17:50] ethanaward commented on #194
We'll likely want to have some kind of discussion about this to determine how we want Wolfram output formatted.

[2016-06-24 20:01] ethanaward commented on #137
Here's the Google Calendar API page: https://developers.google.com/google-apps/calendar/v3/reference/

[2016-06-24 20:03] ethanaward commented on #182
Here's the link to the SmartThings API docs :http://docs.smartthings.com/en/latest/ref-docs/reference.html

[2016-06-24 20:04] Wolfgange3311999 opened #237 "Add false positive support to audio accuracy test"
This should be able to both read in long segments of audio and count the false positives along with reading small audio files that have only a single phrase such as "hey mike ross". I think the result should not be a percentage since the ideal total detection count is 0 (and thus the % detected is x / 0).

[2016-06-24 20:23] ethanaward commented on #209
Addressed by #211

[2016-06-24 20:23] #209 closed

[2016-06-24 20:27] ethanaward commented on #212
Addressed by #215.

[2016-06-24 20:27] #212 closed

[2016-06-24 20:33] ethanaward commented on #115
Was this ever solved?

[2016-06-24 20:39] Wolfgange3311999 commented on #189
Options:
 - Change phrase from "wake up" to "time to wake up"
 - Change behavior so "hey mycroft wake up" becomes the recognizer (the old way)
 - Verify with externel STT (combined with above)

[2016-06-24 22:20] #158 closed

[2016-06-25 17:49] cgtopher commented on #115
Same happening on Fedora 23. Verified all req. software was install per the docs. It looks like it's related to gcc according to the error I'm getting.

`gcc -pthread -fno-strict-aliasing -O2 -g -pipe -Wall -Werror=format-security -Wp,-D_FORTIFY_SOURCE=2 -fexceptions -fstack-protector-strong --param=ssp-buffer-size=4 -grecord-gcc-switches -specs=/usr/lib/rpm/redhat/redhat-hardened-cc1 -m64 -mtune=

[2016-06-25 17:50] aatchison commented on #115
Is python-dev installed?
On Jun 25, 2016 12:49 PM, "Chris Gaunt" <notifications@github.com> wrote:

[2016-06-26 03:56] ChristopherRogers1991 opened #238 "Phillips Hue Skill"
Add a skill to control Phillips Hue Lights. Specifically:
- Toggle the lights
- Activate scenes
- Dim
- Change color temp

This is currently underway [here](https://github.com/ChristopherRogers1991/mycroft-core/tree/feature/issues-238). Toggling and scenes are currently supported. Dimming and color temp still to come.

[2016-06-26 04:57] the7erm commented on #84
What do you think?
https://github.com/the7erm/mycroft-core/blob/feature/issue-84/mycroft/context/context_manager.py

[2016-06-26 05:07] clusterfudge commented on #115
@cgtopher the lack of ffi.h suggests you do not have the libffi development headers installed, which would be the libffi-devel package in the fedora repos. libffi-dev is listed [here](https://github.com/MycroftAI/mycroft-core/blob/master/build_host_setup.sh#L13). You should review the build_host_setup.sh script again to make sure you have all of the dependencies installed.

[2016-06-26 05:41] clusterfudge commented on #84
Upon reading your change, I don't understand what it does or how it's supposed to be used. Can you provide some documentation? Also, the tests you provided don't explain what they're doing or why.

Lastly, as I stated above, I believe that the context manager belongs in Adapt, as it will be tightly coupled with the IntentDeterminationEngine's usage of context.

[2016-06-26 06:26] ryanleesipes commented on #238
Will try this on Monday.

[2016-06-26 06:29] the7erm commented on #84
Sorry I've added some comments.

Ok I'll take a look at the adept source code.

Thanks for your time.

[2016-06-26 11:36] chrisvella commented on #137
Consider making a calendar skill which uses the CalDAV standard rather than just working with Google calendar. Perfect for people who selfhost their calendar server i.e. owncloud users.

[2016-06-26 13:56] ryanleesipes commented on #137
@chrisvella I assume Google calendar supports CalDav? Yeah, that's fine if we can find a good library to make that really easy to write - that would be awesome.

[2016-06-26 16:00] chrisvella commented on #137
@ryanleesipes For some reason its difficult to find information on... but I believe so. [Source](https://support.mozilla.org/en-US/questions/1097284)

[2016-06-26 17:40] ChristopherRogers1991 commented on #238
Dimming and color temp management have been added.

Tests and pep8 are passing - should I open a PR? I'm not sure what the process is for new skills. I saw a few open issues for skills, but haven't seen any that were merged (and it looks like [this roku skill](https://github.com/MycroftAI/mycroft-core/pull/166) was going to be "pop[ped]... out into a third party skill," but I have know idea what t

[2016-06-26 21:21] aatchison commented on #238
Definitely, that's the best point of discussion for integration into the core. It's encouraged! :)

[2016-06-27 21:08] #134 closed

[2016-06-27 21:15] jdorleans commented on #48
Does this still happening after #209 ?

[2016-06-27 21:16] jdorleans commented on #48
Is this still happening after #209 ?

[2016-06-27 21:39] ethanaward opened #239 "Pairing does not work properly on CLI"
When a user has an unpaired device and uses the voice client, they get prompted to pair their device as soon as they say anything. This runs through the listener, which manually appends `pair my device` to the heard utterances to trigger the pairing process.

When using the CLI , nothing runs through the listener, so you have to explicitly trigger the pairing process via typing `pair my device`, w

[2016-06-27 23:40] ChristopherRogers1991 commented on #238
Just realized I broke a lot of stuff while I was refactoring at 4am this morning (probably a bad idea). Hopefully you didn't try it while it was broken.

I want to add one more intent before opening a PR - should be tonight.

Can someone address the open questions, about whether to include my own requirements.txt file, or add my requirements to the core file, and whether to copy/paste the copywrit

[2016-06-28 01:00] ethanaward commented on #238
@ChristopherRogers1991 At the moment, put the requirements into the core requirements.txt file. That's where they should be for a core skill. We still have yet to work out a good 3P skill system for that, so just put it there for now.

And yeah, copy the GNU Public License and put it in your file.

[2016-06-28 01:57] ChristopherRogers1991 commented on #238
Thanks @ethanaward. PR is open. Feel free to rip it to shreds. All feed back is welcome.

[2016-06-28 02:03] aatchison commented on #238
Wahoo! @ryanleesipes , you own Phillups Hue lights lol

[2016-06-28 02:08] ChristopherRogers1991 commented on #238
Looks like the tests failed. I just re-ran locally, and it looks like they pass if I have a local mycroft.ini file (~/.mycroft/mycroft.ini), but failed when I removed that.

I'm assuming that means I need to add the block to the core ini file?

[2016-06-28 02:11] ChristopherRogers1991 commented on #238
Here's an example stack trace:

    Traceback (most recent call last):
      File "/home/chris/Code/mycroft-core/mycroft/skills/core.py", line 88, in load_skill
        skill = skill_module.create_skill()
      File "/home/chris/Code/mycroft-core/mycroft/skills/phillips_hue/__init__.py", line 274, in create_skill
        return PhillipsHueSkill()
      File "/home/chris/Code/mycroft-core/mycroft/s

[2016-06-28 02:13] aatchison commented on #238
You could probably add some default or empty configurations and maybe make it pass without acting if the settings aren't filled in with valid data? Maybe add some exceptions to notify that there is no configuration on invocation?
 I'm not entirely sure.

[2016-06-28 02:20] ethanaward commented on #238
@ChristopherRogers1991 Yeah, config stuff needs to be at least empty in the mycroft.ini file, I think. Feel free to also bring up these comments on the PR so that people reviewing it can see your comments in a centralized place.

[2016-06-28 02:53] ChristopherRogers1991 commented on #238
Ok, they're all passing now.

[2016-06-28 18:00] aatchison opened #241 "Getting more done in GitHub with ZenHub"
Hola! @aatchison has created a [ZenHub](http://www.zenhub.com) account for the **MycroftAI** organization. ZenHub is the only project management tool integrated natively in GitHub – created specifically for fast-moving, software-driven teams.

----

#### How do I use ZenHub?

To get set up with ZenHub, all you have to do is **[download the browser extension](https://www.zenhub.com?utm_source=ZHOnb

[2016-06-28 18:00] aatchison commented on #241
If you would like to join me on ZenHub it would help me t

[2016-06-28 18:00] #241 closed

[2016-06-28 18:51] aatchison opened #242 "Build systems for multiple environments, architectures, development state, and packaging methods"
At the moment build and publish scripts are directly included in mycroft-core. This method has some benefits, but it would be ideal not to tie the packaging process to the code base.

[2016-06-28 18:52] aatchison opened #243 "Nightly build scripts for development channel."

[2016-06-28 18:52] aatchison opened #244 "Packagebuilds for Archlinux."

[2016-06-28 18:53] aatchison opened #245 "Separate build system for Mycroft units."

[2016-06-28 18:54] aatchison opened #246 "Support snap packages without using a parallel branch or modifying mycroft-core,"

[2016-06-28 19:34] junland commented on #245
@aatchison Could you add more context to this issue? I think I have something in mind, but don't know if it's correct or not.

[2016-06-28 20:11] #193 closed

[2016-06-28 20:13] #159 closed

[2016-06-28 20:14] aatchison commented on #245
Hello!
From the beginning, we have been targeting the Mycroft unit itself. The core code includes specialized scripts and functions for the unit that aren't necessarily useful on every platform. One example of this is the enclosure client: https://github.com/MycroftAI/mycroft-core/tree/master/mycroft/client/enclosure and the corresponding service that runs on the device: https://github.com/Mycroft

[2016-06-28 21:07] forslund opened #247 "skill container --dir should be replaced with positional argument"
Previously the command to start a skill in a container was:

`./start.sh skill_container SKILL_PATH`

Right now the command needs to be supplemented with a `--dir`:

`./start.sh skill_container --dir SKILL_PATH`

this is clunky as the skill directory is generally needed (the default value will seldom work). I believe the old command line should be brought back.

[2016-06-28 22:58] Wolfgange3311999 opened #250 "More unit tests are needed for the EnglishQuestionParser"

[2016-06-29 14:03] junland commented on #245
@aatchison Hmmm alright, I could see something like the Open Build Service from OpenSUSE, dunno if it makes packages for alternate archs thou. Also it's prolly out of scope but maybe look at the Yocto Project. It's more for building a embedded Linux distro but it has tools to build and make software and software SDK's for your devices....

[2016-06-29 15:29] Wolfgange3311999 commented on #192
Even though it still (intentionally) fails on multilpe `didyoumean` responses, marking as closes since it has been dealt with for when there is only one.

[2016-06-29 15:29] #192 closed

[2016-06-29 19:24] #200 closed

[2016-06-29 21:56] Wolfgange3311999 commented on #189
Note: it turns out the current implementation in fact does work alright provided that the threshold be decreased.

[2016-06-30 06:43] marksev1 commented on #194
An idea would be too that one could then trigger to read further with: "Read on."

[2016-06-30 10:01] grahamreeds opened #253 "Generic house automation skill"
While the Philips light bulb is a good start, a more generic approach is needed.
For instance: "Mycroft - turn the lights on".

Firstly mycroft needs to know which room you are in - if there is one mycroft with it's single speaker then logically it can only automate that room.  If you have multiple units and you address the one in the room you occupy then how to prevent another unit from overheari

[2016-06-30 18:49] ethanaward commented on #137
Here's a [CalDAV python library](https://pypi.python.org/pypi/caldav) as well as [Google's page](https://developers.google.com/google-apps/calendar/caldav/v2/guide#connecting_to_googles_caldav_server) for using their CalDAV API.

[2016-06-30 18:57] murphyalexandre opened #254 "Pi 2 Model B + Cirrus sound card + Mycroft"
Hey,

I'm having some issues with mycroft on my pi 2 and I don't know if this is the place to ask for help. If not, please direct me to where I should ask my questions.

So I have a Cirrus sound card on my Pi and I installed the latest Raspbian (from 2016-05-27) on it with the correct Cirrus driver loaded on boot. Everything is working fine with the sound card, I have only one input and one output

[2016-06-30 19:22] #189 closed

[2016-06-30 19:23] isaacnward commented on #250
Fixed by #251.

[2016-06-30 19:23] #250 closed

[2016-06-30 19:24] ethanaward commented on #247
Fixed by #248

[2016-06-30 19:24] #247 closed

[2016-07-02 17:49] nrd2001 commented on #213
I just received my kit and i'm having the same problem.

[2016-07-02 21:13] ChristopherRogers1991 opened #256 "load_data_files should call load_regex_files"
I see that not having `load_data_files` call `load_regex_files` was done on purpose, according to the first comment on https://github.com/MycroftAI/mycroft-core/pull/222, however, it seems strange to have `load_data_files` not load all the data files, so I wanted to open this up for discussion.

The function is currently written as:
[code]
It seems like it could be:
[code]
This should safely load

[2016-07-03 19:41] clusterfudge opened #258 "incorporate audio-accuracy-test into existing test suite"
should be implemented as a unit test with assertions.
should run with existing unit tests
should not be in it's own top level directory.
likely involves some static data set (to which we can append over time).
data should not be checked into git, should be fetched from source and cached locally in a directory that is .gitignored

[2016-07-03 19:44] clusterfudge opened #259 "cleanup root directory"
things have gotten cluttered with new scripts and config for those scripts.

[2016-07-03 20:17] Wolfgange3311999 commented on #258
I'm a bit concerned to do the top two. For the top one since the result gives a % rather than a binary answer should we just choose a percentage a bit lower than what it is now? And for the second one, my only concern is that others won't want it to spend 2 minutes or however long it takes for that test. Then again, if that's the case they could just remove the cached audio directory.

[2016-07-03 21:11] clusterfudge commented on #258
for 1, is there a realistic scenario where we can drive for 100% and then turn that into a strict assertion? If not, we could say that we require > C, but that leaves wiggle room for breaking things while fixing others, and I'm not a huge fan of that non-deterministic behavior.

for 2, that's fair. Maybe we want to introduce a concept of slow tests that only run as part of pr/release builds? that

[2016-07-03 22:03] Wolfgange3311999 commented on #258
For 1 I can try recording a set of loud and close samples with no background noise to shoot for 100%. Relating to that, I can record a few samples of things that are clearly not the wake word (ie. "micro", "hey michael", and "hey mike") so that the false positive test with those samples should always return 0.

And yes, for 2 I think that would be good. Perhaps `./start.sh unittest --thorough` or

[2016-07-05 16:07] Wolfgange3311999 opened #260 "Extract listener values into configuration"
A few options for the listener:

- [ ] Wake word
- [ ] Pronunciations
- [ ] Threshold
- [ ] 3 other listener parameters

[2016-07-06 17:08] Cadair opened #262 "Support Skill Registration with entry-points"
Python's entry points system allows packages to specify an entry point on installation and then another package or script can query all the installed packages that have registered to that entry point.

The upshot of this is that if I write a third party skill and set a entry point specified by Mycroft core in my skills setup.py file, Mycroft can auto-detect my skill and any other skills registered

[2016-07-06 17:10] Cadair opened #263 "Make mycroft-core an installable python package"
Is there a reason(s) why mycroft-core is not packaged in the python fashion and then looks for things like mimic in the standard system path?

[2016-07-06 17:26] clusterfudge commented on #263
There are a number of dependencies that don't package well, or shouldn't be packaged as part of mycroft. For example, mimic has no python components, so making a pip package for it doesn't make a lot of sense. The pocketsphinx-python bindings (and available pip packages) don't work in a virtualenv, as they have native dependencies on pocketsphinx and sphinxbase that don't come in with the python l

[2016-07-06 18:25] Cadair commented on #263
My background is in scientific python, so I am fully aware of the limitations of pip when it comes to packaging compiled dependencies.

I am not suggesting that Mycroft start using pip etc as their primary distribution / installation method, but it would still be nice to make it possible to install Mycroft core as a python package, if you assume the binary dependencies are taken care of (in the co

[2016-07-06 18:33] clusterfudge commented on #263
I suppose depending on what it is you're trying to do, there are some subsets of mycroft that can be installed (even today, maybe?) that can suit your purposes.

The mycroft-skills-sdk (documentation lost, will find) is just the skills service, and can attach to a remote mycroft (or just a messagebus service). It is (I believe) pure python2.7. Adapt, the intent determination framework that Mycroft

[2016-07-06 19:32] ethanaward commented on #263
Yeah, parts of the team were having a discussion earlier about what exactly should be in mycroft-core. We were talking about it from the perspective of stripping down the skills to an essential few that should be needed on anything running mycroft, rather than having a lot of extraneous ones for various tasks.

[2016-07-06 20:28] #108 closed

[2016-07-06 22:59] #237 closed

[2016-07-07 03:52] el-tocino opened #264 "py2cairo location has moved"
this breaks install-pygtk.sh
Current url:
https://cairographics.org/releases/py2cairo-1.10.0.tar.bz2
New url:
https://www.cairographics.org/releases/py2cairo-1.10.0.tar.bz2

[2016-07-07 19:30] thecodingwizard opened #268 "Feature: IBM Bluemix Text To Speech"
Feature request: [TTS service from IBM Bluemix](http://www.ibm.com/watson/developercloud/text-to-speech.html).

Check out the [demo](https://text-to-speech-demo.mybluemix.net/). It has great features like SSML and  different voices, expressions etc.

**I got the basic prototype working.** Check it out: [https://github.com/thecodingwizard/mycroft-core/tree/features/ibm-tts](https://github.com/theco

[2016-07-07 23:22] Wolfgange3311999 commented on #258
@clusterfudge Any thoughts on the directory and filename? `test/client/speech/mic.py`?

[2016-07-07 23:24] #260 closed

[2016-07-08 14:48] ethanaward commented on #256
I'm fine with making this change. I'll do some tests to make sure it works as intended.

[2016-07-08 17:54] Wolfgange3311999 commented on #218
This relies on the listener being refactored. At the moment it is too huge to effectively expand.

[2016-07-08 17:55] MatthewScholefield opened #272 "Listener refactor"
The listener should be separated into separate modules and much probably put into its own file. This will help with making unit tests.

[2016-07-08 19:12] Wolfgange3311999 opened #273 "Wolfram problem with contractions"
`what's 2 + 2` gives something about foot seconds since it searches for `'s 2 + 2`. This relates to the verb now being `'s` for `what's`.

[2016-07-08 21:37] ethanaward opened #274 "Base media skill is loaded as a normal skill"
At the moment, the load_skills function tries to load the media skill as if it is a normal skill.

[2016-07-08 22:09] ethanaward commented on #264
Both of these links work to download the tar for me.

[2016-07-08 22:11] el-tocino commented on #264
Interesting.  Today they work for me as well.  Two days ago the insecure url was returning an error indicating that it had been updated to the secure url as the tar file.  Will close, then.

[2016-07-08 22:11] #264 closed

[2016-07-08 22:14] jdorleans commented on #264
Thx for the feedback guys

[2016-07-08 22:20] the7erm commented on #137
I started reading over the terms of service.
https://console.developers.google.com/tos?id=universal

That's an interesting clause.  I'm not sure how to handle it.  I guess all the users are going to have to create their own key.

[2016-07-08 22:22] ethanaward commented on #137
Yeah, users are going to have to provide their own client ID and secret, I think.

[2016-07-08 23:11] #256 closed

[2016-07-08 23:12] ethanaward commented on #274
Fixed by #275, closing

[2016-07-08 23:12] #274 closed

[2016-07-10 11:00] marksev1 commented on #253
You know what would be nice, if this skill would have an "option" inside of it to either tie in completely with home-assistant, or output the configuration via mqtt. Like dunno turn on-off kitchen light

mqtt topic

home/kitchen/light/on
home/kitchen/light/off

So even if it would auto-generate the rooms from home-assistant. That it would make the control outputs via mqtt (btw home-assistant suppo

[2016-07-11 11:48] marksev1 commented on #268
Is an account at bluemix also for free?

[2016-07-11 19:39] jcasoft opened #276 "Improvement for utils and AudioRecordSkill"
improvement for utils and AudioRecordSkill
include another parameter in mycroft.ini
device = "plughw:0,0"  #Select PCM by name
and modify:
mycroft/util/**init**.py
line 40 with new parameter
def record(file_path, duration, rate, channels, device):
...... ["arecord", "-r", str(rate), "-c", str(channels), "-d", str(duration), "-D", device, file_path]

modify later:
mycroft/skills/audio_record/**init

[2016-07-11 19:50] thecodingwizard commented on #268
@marksev1 Yup!

[2016-07-11 20:21] ethanaward commented on #276
Have you tested this to make sure it works? If so, submit a PR with these changes.

[2016-07-12 00:48] trekjunky opened #277 "No Sound Kubuntu Plasma 5"
I've run build and dev setups without a hitch. The QTApplication runs, but there is no sound. Please help...I have since switched to Kubuntu. Same issue

[2016-07-12 15:51] isaacnward commented on #234
Fixed by #255.

[2016-07-12 15:51] #234 closed

[2016-07-12 21:12] ChristopherRios7 opened #278 "IFTTT Skill"
We need to lay down the groundwork for IFTTT integration for Mycroft Core and Units.

[2016-07-13 10:00] joshymcd opened #279 "Allow skills to send more information than the utterance to the messagebus"
Currently skills send their 'utterance' to the message bus but with no extra information.
there should be a way to allow skills to send extra information so custom UI's can display the data whichever way it feels fit.
e.g the wiki skill should/could be able to send the URL to the wiki page it is getting its information from:
`{'Title': 'Ubuntu (operating system)', 'URL': 'https://en.wikipedia.org/

[2016-07-13 10:11] joshymcd commented on #279
Created PR #280 for this issue

[2016-07-13 20:57] MatthewScholefield opened #282 "The enclosure sometimes resets rather than talking"
I've encountered messages sent through the enclosure client to the Arduino in the reverse of the expected order. For instance, at times when talking multiple times rather than resetting when finished and talking immediately again for the next phrase to be spoken it sends the talk command _followed by_ the reset command. Two possible explanations follow:
- When writing to `/dev/ttyACM0` message sen

[2016-07-15 00:11] bashterm opened #288 "Add to build_host_setup.sh to include grabbing depends for Arch Linux"
Add some code that detects what flavour of linux you are using, and then grabs packages for Debian, Ubuntu, Mint, etc. using apt-get and packages for Arch, Antergos, etc. using pacman. I'm going to try implementing this myself.

[2016-07-15 05:50] #273 closed

[2016-07-15 13:50] aatchison commented on #288
Thanks bashterm!  I would really like a package build for the AUR if we can manage it.

[2016-07-16 18:55] stmaus opened #295 "Mycroft screens not visible."
I have mycroft running on Ubuntu 14.04LTS and it gives voice response but I don't have any interface screens when I run mycroft.sh start.

[2016-07-16 20:25] Wolfgange3311999 commented on #295
Currently Mycroft Core itself doesn't have a desktop interface. Running `./mycroft.sh start` begins several processes silently in these hidden terminal windows referred to as screens. To view one of these you can execute the following: `screen -r mycroft-skills` or one of the other two `mycroft-` screens.

Perhaps this should be made more clear on the readme since the term `screen` is a bit vague.

[2016-07-16 20:27] joshymcd commented on #295
Disclaimer - fancy and in progress :)

[2016-07-16 20:50] stmaus commented on #295
Thanks for the quick response. The main Mycroft page shows several devices including and Ubuntu desktop with what appeared to be a desktop interface. I have a hard time understanding the voice and was hoping to find a text response somehow.

[2016-07-16 20:54] Wolfgange3311999 commented on #295
@stmaus If you just would like to see what Mycroft responds, although not the prettiest, you can run the following in a terminal after starting mycroft: `screen -r mycroft-voice`.

[2016-07-16 20:59] stmaus commented on #295
Thanks, I have it registered with Cerberus and I've just begun to play with it.

[2016-07-18 18:34] aatchison commented on #295
Glad you figured it out! Closing issue.

[2016-07-18 18:34] #295 closed

[2016-07-18 18:37] aatchison commented on #213
Since this is a pretty generic issue, and we know that the process works, I'm closing this now.

[2016-07-18 18:37] #213 closed

[2016-07-18 18:38] aatchison commented on #115
Until we have more operating specific instructions, I'm closing this issue.

[2016-07-18 18:38] #115 closed

[2016-07-18 18:39] aatchison commented on #136
Due to ongoing work on the back end, I'm closing this issue as the current Cerberus is functional.

[2016-07-18 18:39] #136 closed

[2016-07-18 18:41] aatchison commented on #187
Since we have several PRs merged that address these issues, I am closing this one. More specific errors can be a new issue.

[2016-07-18 18:41] #187 closed

[2016-07-20 00:50] chrisvella commented on #288
I began working on this but abandoned my progress. Creating official packages is a much better solution IMO. Has the project considered something like the [opensuse build service](https://build.opensuse.org/)?

[2016-07-20 23:48] Wolfgange3311999 opened #299 "Volume change should not be spoken every time"
When changing the volume with hardware it should not speak the result but rather play a sound.

[2016-07-21 16:00] aatchison commented on #245
Issue resolved.

[2016-07-21 16:00] #245 closed

[2016-07-21 16:01] aatchison commented on #243
Issue resolved

[2016-07-21 16:01] #243 closed

[2016-07-21 18:15] #299 closed

[2016-07-26 00:21] Wolfgange3311999 opened #303 "Volume range should be configurable"
The minimum and maximum volume should be configurable so that the max isn't excessively loud on the unit and the minimum is something more reasonable like 20.

[2016-07-26 00:24] MatthewScholefield opened #304 "Volume should be be separated into a util class"
Volume functionality should be put into a Mycroft util class to encapsulate shared behavior between the volume skill and the volume change on enclosure client. Another reason for this is to begin a transition to lessening the power of a skill by passing behavior that modifies the system to our own helper classes.

[2016-07-27 18:54] ethanaward commented on #259
Addressed by #301.

[2016-07-27 18:54] #259 closed

[2016-07-28 15:13] isaacnward commented on #56
Solved by #308.

[2016-07-28 15:13] #56 closed

[2016-07-28 18:53] isaacnward commented on #194
Solved by #302.

[2016-07-28 18:53] #194 closed

[2016-07-30 14:47] ShaunPCcom commented on #288
I would also appreciate an AUR package. Putting it together myself seems to be very tricky and I haven't yet got it working.

[2016-07-30 15:17] bashterm commented on #288
Uh oh, now I'm feeling intimidated. I'll try my best, but this isn't
something I've done before

On Sat, Jul 30, 2016, 10:47 AM Shaun Foulkes <notifications@github.com>
wrote:

--
Aidan Sciortino
Hacker
Inventor
Engineer
Dreamer

[2016-07-30 18:29] aatchison commented on #288
I created this issue a while back as part of an epic. Could we close this issue and focus on a package build instead of using build_host_setup ?
https://github.com/MycroftAI/mycroft-core/issues/244

[2016-07-30 18:34] aatchison commented on #218
Are we still working on this issue?

[2016-07-30 18:35] Wolfgange3311999 commented on #218
Not actively but I think it is something to consider for the future. If you'd like we can close this for now.

[2016-07-31 13:38] chrisvella opened #315 "mycroft can't understand my commands"
I have mycroft running with no obvious errors. It is able to accurately catch its wakeword but cannot understand my commands. This is the log from the end of the mycroft-voice screen:

[code]

I am not using pulseaudio and my system is running debian 8. I have rerun both dev_setup.sh and build_host_setup.sh.

I assume my issue is occurring because the FLAC conversion utility isn't available.

[2016-08-01 12:31] swilso793 commented on #315
Have you tried installing it?
`sudo apt-get install flac`

[2016-08-01 12:34] swilso793 commented on #277
Do you have the pulseaudio packages installed in your system?
If yes, try `pulseaudio -D` before running mycroft. If that doesn't work download pavucontrol(`sudo apt-get install pavucontrol`) and see what's happening in a nice gui.

[2016-08-02 00:56] chrisvella commented on #315
That solved the problem, I assumed it was a python dep.

Shouldn't `flac` be added to `build_host_setup.sh`? Happy to make a PR.

[2016-08-02 01:40] aatchison commented on #315
I think that it should, yes. Thanks

[2016-08-02 06:51] swilso793 commented on #315
No problem i'm excited to have helped. :) I had the same problem myself, and in the error message it only lists the install instructions for Mac.

[2016-08-02 18:23] swilso793 opened #317 "Two ideas that come from my personal use case."
1. Maybe Mycroft should first check the defined words from skills. Example: if i say pause and i have defined pause in my third party skills I would almost always want him to understand pause rather than paws or pauls.
2. I don't really like falling back to the wolfram Alpha skill cause it does that mostly when it doesn't understand me. I can always trigger it through it's keyword.

Any suggestion

[2016-08-02 18:56] Wolfgange3311999 commented on #317
So do you think for the second one that Wolfram should only be activated when you say something like `search for the roots of x squared plus three equals zero on Wolfram`?

[2016-08-02 19:26] ryanleesipes opened #318 ""Say" triggers speak skill always"
"Hey Mycroft, What does Wikipedia say about Abraham Lincoln"

Mycroft responds: "About Abraham Lincoln"

[2016-08-03 06:53] Wolfgange3311999 commented on #318
I would consider this an issue with adapt. Instead it should probably return a confidence of each match based on the length of the regex so that `what does wikepedia say` would always override `say`.

[2016-08-03 10:41] swilso793 commented on #317
That sound a bit clunky. What about saying: what can you tell me about blabla for wolfram vs. search about blabla for google?

[2016-08-03 18:26] Wolfgange3311999 commented on #317
@swilso793 That might do provided we get a Google skill working. My only concern is that the difference is so subtle and arbitrary that it might confuse new users. Although we already do that with the Wikipedia skill (with the phrase `tell me about`).

[2016-08-04 01:12] aatchison commented on #315
Thanks for the PR. Merged and closing.

[2016-08-04 01:12] #315 closed

[2016-08-04 01:13] aatchison commented on #288
Closing in favor of #244

[2016-08-04 01:13] #288 closed

[2016-08-05 15:23] chrisvella commented on #268
Thank you for developing this fantastic feature. I can't wait to get it working.

A couple of things to note:

- To merge the branch use: `git clone -b features/ibm-tts https://github.com/thecodingwizard/mycroft-core.git`
- The python modules name is `watson-developer-cloud` rather than `watson-developer-sdk`
- The file to edit the configuration is: `/mycroft/configuration/mycroft.ini`

I am hitti

[2016-08-05 15:29] aatchison commented on #268
I'm guessing that you need to either pop install while the virtualenv is
activated, or add it to requirements.txt and run dev_setup.sh again (as it
enters the virtualenv.) The start scripts run inside the virtualenv as well.

The easy way:
$ workon mycroft
(mycroft)$ pip install -r requirements.txt

On Aug 5, 2016 10:23 AM, "chrisvella" <notifications@github.com> wrote:

Thank you for developing t

[2016-08-05 18:12] chrisvella commented on #268
I did that and it solved the issue. Thank you @aatchison

I now have a sound problem to debug. I will update on how the voices sound once its fixed.

[2016-08-06 05:09] chrisvella commented on #268
This feature is a **huge** improvement to mycroft. When I demo mycroft to other people they always remark how robotic it sounds. No more!
I would love to see this feature automatically configured for mycroft premium backers (at least till more voices are added at the end of this year).

[2016-08-06 18:02] thecodingwizard commented on #268
@chrisvella Yup - typo on my part, it's not `watson-developer-sdk`, changing it now. And yes you have to install `watson-developer-cloud` in the proper virtual enviornment. I didn't know about requirements.txt... I'll play around with that.

This can be automatically configured for premium backers, but this service is pay-as-you-go with a free tier (the first 1 million or so characters are free, e

[2016-08-06 18:10] thecodingwizard commented on #268
Another feature of this speech library is that it allows you to customize the way certain text is spoken. See https://www.ibm.com/watson/developercloud/doc/text-to-speech/SSML.shtml

For example, if you ask mycroft "stock quote for MSFT", it'll say "MSFT" in a strange way (some characters are spoken faster than others). The speech library allows you to overcome this by specifying MSFT to be spoken

[2016-08-06 18:40] thecodingwizard commented on #268
Anyone know where `mycroft` is defined?

in `tts_factory.py`, it imports tts classes like so:

[code]

How do I add my own tts class `ibm_tts` to `mycroft.tts`? Currently I'm importing `ibm_tts` like so:

[code]

[2016-08-06 22:56] thecodingwizard commented on #268
I think except for the issue above regarding `mycroft.tts`, my code should be ready to merge. Tests & validation isn't setup yet, but I added `watson-developer-cloud` to requirements.txt & tested on Ubuntu 16.04

[2016-08-09 10:44] swilso793 commented on #317
I tried putting a `return` call right at the first line of the `handle_fallback` function in the `__init__.py` of the WoframAlpha skill and it's awesome. If you have the screens open you don't really need the feedback and it speeds up development by a lot.

[2016-08-09 14:10] aatchison opened #320 "Mycroft should indicate when it has finished starting."
We need Mycroft to indicate when all services are started.

[2016-08-09 14:10] aatchison opened #321 "Mycroft should indicate when there is no internet connection.,"
Since an internet connection is required, we need to know if there is one at any given time.

[2016-08-09 15:56] Wolfgange3311999 commented on #320
We probably don't want him to speak something like "Hello" every time he boots up, especially for those who run Mycroft on something other than a unit. So I would think we'd want a boot up animation for the display and perhaps a short sound when the services finish starting.

[2016-08-09 21:55] grahamreeds commented on #321
Is it required?

I am not planning on mine being anything more than a home automation
controller.

While finding out what capital city is the highest above sea level is
interesting there is a whole lot you can do inside the network.

GR

Sent from my Nexus 5.

On 9 Aug 2016 3:10 p.m., "Arron Atchison" <notifications@github.com> wrote:

[2016-08-10 16:14] ethanaward opened #322 "Mycroft.sh logs are not properly being saved"

[2016-08-10 16:38] ethanaward commented on #321
Yeah, it requires an internet connection to use the STT services.

[2016-08-11 05:03] grahamreeds commented on #321
How much processing power does STT need? Is there an open source library
that does the same locally?

GR

Sent from my Nexus 5.

On 10 Aug 2016 5:38 p.m., "Ethan Ward" <notifications@github.com> wrote:

[2016-08-11 09:40] matueranet commented on #321
@ethanaward It might be wise to do a check towards more than only 8.8.8.8 for internet connectivity. If for some reason that Google DNS server is down all Mycroft devices would report they have no internet connectivity. 8.8.4.4 is the secondary DNS server, it seems unlikely that both would be down at the same time, you could do a second check if 8.8.8.8 seems to be down.

[2016-08-15 16:41] chrisl8 commented on #317
I have to agree on this one. I find two annoying things happening with the WolframAlpha fallback:
1. If I say something "human" like "Hi" or "Good morning", it will go to WolframAlpha  which has some human like interaction. It will say things like, "Hello, human".
Then mycroft sticks "<utterance> is" on the front of it and says, "Hello. is Hello, human."
You can try it with lots of things like "go

[2016-08-16 00:37] ethanaward commented on #322
Fixed by #323.

[2016-08-16 00:37] #322 closed

[2016-08-16 01:33] Wolfgange3311999 commented on #317
This brings up a good point slightly unrelated: Perphaps Mycroft should ignore any STT with a confidence lower than a certain value. If I remember correctly, Google gives some level of confidence attached to each proposed transcription. Provided they aren't normalized so that they all add up to `1.0`, that can be used to filter out such occurances. As for the first one, if anything I think it migh

[2016-08-16 19:57] aatchison commented on #254
Did you ever have any luck?

[2016-08-16 19:57] aatchison commented on #321
How are we on this one @ethanaward ?

[2016-08-16 20:11] murphyalexandre commented on #254
No.

[2016-08-16 20:20] aatchison commented on #254
Hmm. You might check out a newer version and let us know. Are you sure it's not a sound card issue? You might try `./start.sh audiotest` instead of those other audio tests.

[2016-08-16 20:22] murphyalexandre commented on #254
I would, but I don't have access to the device anymore! Closing it for now.

[2016-08-16 20:22] #254 closed

[2016-08-16 20:24] aatchison commented on #303
Hey @Wolfgange3311999  we are going to do some surgery on this and then merge, sorry.

[2016-08-16 20:27] #321 closed

[2016-08-16 20:28] aatchison commented on #303
ahh Geez, Mean to close the PR

[2016-08-16 20:31] aatchison commented on #48
I'm pretty sure that this has been solved. Thanks.

[2016-08-16 20:31] #48 closed

[2016-08-16 20:31] aatchison commented on #90
I was working on this, shall I continue?

[2016-08-16 20:35] #303 closed

[2016-08-17 00:32] aatchison commented on #254
Thanks, sorry about that.

[2016-08-17 14:28] aatchison commented on #277
Any luck here? I'd like to close this O/S specific issue and also understand if your issue was fixed :)

[2016-08-17 14:30] aatchison commented on #57
I wonder if we couldn't create a utility for this?

[2016-08-17 15:01] swilso793 commented on #277
Im guessing he fixed it, because he didn't answer and i had the same problem that was fixed by running `pulseaudio -D`

[2016-08-17 23:15] trekjunky commented on #277
Issue solved. You can close this issue.

[2016-08-17 23:15] #277 closed

[2016-08-17 23:56] aatchison commented on #239
Thanks ethan

[2016-08-17 23:56] #239 closed

[2016-08-18 22:07] isaacnward commented on #320
Mycroft now indicates when it is finished starting!

(only on the unit, though)

#335 and #336 are responsible for it

[2016-08-18 22:07] #320 closed

[2016-08-21 17:56] robocoder99 opened #343 "Hard Coded Enclosure Code Hangs on Stock Pi 3"
On my Pi 3 with Raspbian Jessie Lite (stock installation) the voice task will hang up after the connection to the message bus with the inclusion of this particular line of code. Never reaches "Waiting for wake word".

Additionally, this line has the command and the device hard coded rather than using the inbuilt enclosure API.

This issue has been confirmed on at least one other stock Raspberry Pi

[2016-08-21 18:50] aatchison commented on #343
Let me know if this works okay for you.
https://github.com/MycroftAI/mycroft-core/pull/344

[2016-08-21 19:04] Mr5hanMan opened #345 "Fail to register with given code"
I've installed and followed the instruction: https://docs.mycroft.ai/development/cerberus

When I say, "Mycroft, let's register my device" it gives me a code, but when I put it into https://cerberus.mycroft.ai/register

a Pop up occurs saying it has failed.

Any help would be great. Running on Ubuntu 16.0, using Google Chrome browser.

[2016-08-21 19:11] aatchison commented on #345
Hello!
Are you sure that it's the correct code? Sometimes it can be hard to hear. You can check the output of the speech client and read it there as well.

[2016-08-23 15:32] movprojects commented on #345
This appears to be an open issue everyone runs into. i fought with it last night on my first install

I fixed my 'failed to register device' by

1- stopping the mycroft service. ./mycroft.sh stop
2- clear any cookies on the browser set by the cerbus.mycrost.ai server
3- restart mycroft service ./mycroft.sh start
4- also try to do the above and reboot ubuntu or device

[2016-08-23 15:33] aatchison commented on #345
I'm really baffled as to why this is happening. Thanks for the cookie info!

[2016-08-23 21:37] marksev1 opened #346 "Systemd support"
Guys, please make support systemd or make it easier for me to write the unit. Since for now it doesn't work the easy way (like just invoking ./mycroft.sh start - I think its because of the use of screen but I might be wrong) :).

Any feedback is greatly appreaciated.

[2016-08-25 15:29] aatchison commented on #346
We already use systemd in the apt-packages. These rely on bdists created from setup.py entry points, instead of trying to run a script to enter a virtualenv, set the PYTHONPATH var, etc.
maybe you would have better luck that way.

[2016-08-25 15:30] aatchison commented on #345
This issue doesn't seem to be affecting everyone, closing.

[2016-08-25 15:30] #345 closed

[2016-08-25 15:31] aatchison commented on #343
We should add a value to the configuration file to set unit = True or something similar. That way, product specific features can be enabled or disabled if they can't be separated.

[2016-08-25 15:37] Mr5hanMan commented on #345
Resolved this issue, apologies for delayed response. Thanks.

[2016-08-25 15:37] aatchison commented on #345
No problem.

[2016-08-25 17:30] XayOn commented on #263
I don't think handling system-wide deps apart is that much a problem.

You could ask users to create virtualenvs with --system-site-packages and then just install deps via apt.

If current apt packages are outdated for this, setting up a debian repo or a PPA should probably do the trick, plus, having that it'd be easy to create a metapackage depending on all mycroft system deps, thus making a simp

[2016-08-26 12:25] joshymcd opened #347 "[Enhancement] Client/Device ID in messagebus messages"
My idea (not sure if its already been done) is to have the option of passing in some sort of device or client ID (Could be anything and user definable e.g. a mac address) to the messagebus when making queries, then that id is sent back with every response linked to that message.
This would mean you could have one mycroft server running and clients (such as the android app) can connect to the messa

[2016-08-26 17:19] ethanaward commented on #346
You should just be able to make three units - one for ./start.sh voice, one for ./start.sh skills, and one for ./start.sh service. I've tried that before, and it worked for me.

[2016-08-27 14:37] jdorleans opened #349 "Authenticate device in remote server"

[2016-08-27 14:37] jdorleans opened #350 "Synchronize device and remote configuration"

[2016-08-27 14:37] jdorleans opened #351 "Tartarus Integration"

[2016-08-27 14:40] jdorleans opened #352 "Unify remote server configuration"

[2016-08-31 18:38] jdorleans opened #353 "Migrate configuration to json format"

[2016-09-01 00:19] jdorleans opened #354 "Pair device with remote server"

[2016-09-02 18:47] jdorleans opened #356 "Setup wifi connection"

[2016-09-05 20:28] penrods opened #358 "Visemes overwrite screen display"
On https://github.com/MycroftAI/mycroft-core/pull/357, the mouth animations overwrite the display in cases where the Skill has already placed some information on the display.  For example the stock, spelling or weather skills.

[2016-09-05 21:29] isaacnward commented on #358
Does this happen immediately when Mycroft starts saying the information that's getting displayed (as in, the image appears for a split second, then gets overwritten)? If so, I think it's an issue with the mouth listener functionality in enclosure.py. The `__register_mouth_events` and `__remove_mouth_events` methods need to be updated to turn viseme display on and off.

[2016-09-12 18:56] ParkerMc opened #360 "Fails if python3 is default"
In arch python 3 is default you can easy make this change my changing any thing like `python  file name here` to `python  file name here` and `pip install ` to `pip2 install ` this should work on all systems and in the arch install file change stuff like `sudo pacman -S python-pip` to `sudo pacman -S python2-pip` if you need me to test any thing let me know.

[2016-09-13 00:51] aatchison commented on #360
Thanks
https://github.com/MycroftAI/mycroft-core/blob/master/dev_setup.sh
Do you think we could check in the dev_setup.sh ?  The virtual env should install python 2.7 right? I added a flag for that. Are you saying that we should replace pip with pip2 in that script
? Feel free to edit the arch build setup script if you like.

[2016-09-13 03:32] ParkerMc commented on #360
Sorry I guess I have not been clear. Bow I see how the part I was confused by works. Would you like me to just make the changes and make a pull request?

[2016-09-13 14:05] aatchison commented on #360
Sure, make as many PRs as you like. I don't currently run arch on any of my machines, so I wouldn't be able to test that.

[2016-09-17 18:41] chrisl8 opened #361 "Allow for non-speach events"
I would like to be able to put messages onto the bus and "flag" them in some way that will prevent the TTS engine from saying them when the skill emits the "speak" message.

I have in mind that the message could include a "source" key that tracks where the message came from, and the TTS engine will ignore messages with this flag set.

This would allow sending queries to MyCroft via SMS, web, or an

[2016-09-22 01:07] clccmh opened #363 "Internet connection check fails when tls is blocked by network"
Just as the title says. I am behind a weird firewall on a university network. Every command fails with the response "This device is not connected to the internet"  This is an issue with the connection check. When I edit "client/speech/listener.py", and just remove the check, Mycroft, can process voice commands just fine. I'm not sure if there is a better way to check network connections, but if th

[2016-09-22 02:01] aatchison commented on #363
Interesting, thanks for creating an issue! We will keep it in mind, and feel free to make changes and a PR if you wish.

[2016-09-22 02:41] ethanaward commented on #363
One possible fix that comes to mind is have it not fail when connected to the Internet, just speak. That would still provide the feedback while getting around this issue.

[2016-09-23 00:10] ParkerMc commented on #360
Fixed with #359 sorry I did not think it would auto add the new commits to the pull request.

[2016-09-23 00:23] #360 closed

[2016-09-23 00:24] aatchison commented on #363
Thanks, I will review your PR

[2016-09-27 17:54] the-kid89 opened #366 "Add Python3 support."
Python2 is only going to be supported for another 3 years.  At which time it will be retired. This being a new project it should support Python3.

I wouldn't mind going through this and starting to port over some of the code to Python3 if the project leaders will commit the changes.

[2016-10-05 03:13] ChristopherRogers1991 opened #368 "Configuration server"
Would be nice to have a simple way to enable/disable and configure skills. I think the best option would be a webpage, since that covers everything (Android, iOS, Linux, Win, Mac...).

I have a VERY DIRTY proof of concept [here](https://github.com/ChristopherRogers1991/mycroft-core/tree/feature/config_server) that allows enabling/disabling skills (start mycroft, then run the `config_server.py` fil

[2016-10-05 03:31] penrods commented on #368
We are adding Skill configuration to the Skill API and web backend in the near future, but I can understand if you want to do this as a stopgap until that is available.  Once our work is complete, you will be able to configure the installed Skills for all devices and set all options for those Skills (either for just the single device or for all devices you have registered on your account).  The Sk

[2016-10-05 14:06] ChristopherRogers1991 commented on #368
Ah, cool. I don't think there's any sense in duplicating effort, so if there's already something cooking, I'll just close this out.

Is the work you described being tracked on an issue, or anything I could follow?

[2016-10-05 14:06] #368 closed

[2016-10-06 12:26] jsmith000 opened #369 "Privacy - Google API"
Heya,

A quick question. How is this supposed to respect my privacy while using Google's API?..

Thank you!

[2016-10-06 13:15] penrods commented on #369
Mainly because Google has no information associated with you when we use their APIs.  From their perspective, all requests are coming from "Mycroft".  They have no way to break those out and tie them back to your web browsing history, emails, browser cookies, etc.  Make sense?

[2016-10-06 14:21] jsmith000 commented on #369
Kind of but still not good enough for me :)

Thank you for the answer though. Waiting for a full open source solution which won't rely on 3rd party services.

[2016-10-06 14:25] #369 closed

[2016-10-10 05:45] sinameraji opened #371 "dev_setup.sh never ends installing (It eventually did, after several hours)"
When I run dev_setup.sh in terminal, after a while this is what I see:

`ar: `u' modifier ignored since `D' is the default (see `U')
a - cmu_us_slt.o
a - cmu_us_slt_cg_single_mcep_trees.o
a - cmu_us_slt_cg.o
a - cmu_us_slt_cg_single_params.o
a - cmu_us_slt_cg_durmodel.o
a - cmu_us_slt_cg_phonestate.o
a - cmu_us_slt_cg_f0_trees.o
a - cmu_us_slt_spamf0_accent.o
a - cmu_us_slt_spamf0_phrase.o
a - cmu

[2016-10-10 06:11] forslund commented on #371
The `ar: u' modifier ignored since D' is the default (seeU')` warning is normal.

The voices takes a long time to build. `cmu_us_slt` shouldn't cause too long wait max a couple of minutes.

[2016-10-10 08:10] sinameraji commented on #371
@forslund My macbook gets hot, fan running at 100% and battery life is almost 50% of what it is in OSx. (dualboot ubuntu/osx).
Do you think installing on virtual machine might help?

[2016-10-10 08:57] forslund commented on #371
I don't think a virtual machine would help. The total build time for all voices will probably be a couple of hours, but the files that'll require time will be the `vid_gb_ap_*` files. The other voices (`cmu_us_*`) shouldn't take more than a couple of minutes for each file.

[2016-10-11 00:08] ncouture commented on #371
The dev_setup.sh took well over 5 hours to complete on an RPI3 running Ubuntu 16.04 in my case.

Has anyone been cross compiling from x86?

[2016-10-11 00:15] sinameraji commented on #371
Yeah I waited for it and it finally completed after several hours!!
Ubuntu is really overheating my macbook and I'm considering dedicating a **Raspberry Pi** to mycroft maybe.
Is that a good idea?

[2016-10-11 00:30] ncouture opened #372 "dev_setup.sh ignores WORKON_HOME when VIRTUALENV_ROOT is unset"
Working with a shell configured to use virtualenv via virtualenvwrapper may result in the creation of a new virtualenv root directory.

For example if WORKON_HOME is set to $HOME/projects, executing dev_setup.sh will create the $HOME/.virtualenv and use it as the location for the "mycroft" virtual environment.

Since virtualenv's documentation does not describe the use of the VIRTUALENV_ROOT varia

[2016-10-11 05:35] forslund commented on #371
@ncouture the travis CI system cross compiles for Raspberry Pi. Check out https://github.com/MycroftAI/mimic/blob/development/run_testsuite.sh#L159 for how it's done there.

[2016-10-11 05:48] #371 closed

[2016-10-11 22:21] aatchison commented on #372
Interesting. We didn't account for those that might have their own
virtualenvs set up.

On Oct 10, 2016 7:30 PM, "Nicolas Couture" <notifications@github.com> wrote:

[2016-10-12 14:57] penrods opened #373 "Pairing does not end cleanly"
The pairing process continues to show the registration code after the pairing completes.  Perhaps this is a non-issue with the new backend server/process?

[2016-10-13 20:58] akuAtaja opened #375 "Wifi setup: Animate loading screen"
use this animation https://www.dropbox.com/s/hizj4dedq87iraj/loading%20animation.m4v?dl=0
for loading screen https://www.dropbox.com/s/5ebdh6li88w7att/loading.pdf?dl=0
and connecting screen https://www.dropbox.com/s/a3xbtx6z4a36r14/connecting.pdf?dl=0

[2016-10-14 23:05] ncouture opened #377 "gtts speech backend needs a version of gtts greater than 1.0.6"
The _gtts_ version [enforced in requirements.txt ](https://github.com/MycroftAI/mycroft-core/blob/f0386264a363c82078510a11ca680e64247466e3/requirements.txt)(1.0.6) is broken.

However, using the latest and functional version of _gtts_ raises a problem as it now saves an mp3 file, instead of a wave file as it previously did.

This is due to the current speech implementation [that is using play_wav]

[2016-10-15 00:01] ncouture opened #379 "review dependencies for update candidates"
It seems like the dependencies listed in requirements.txt were never updated, except on a case-by-case basis when some of them failed to provide expected functionality.

As newer versions of Mycroft's dependencies may provide bug fixes and different improvements, I would like to suggest considering running CI against the latest versions the dependencies.

Does anyone have more knowledge on the cur

[2016-10-18 16:13] augustnmonteiro opened #380 "Implement refresh token"
The new API sends an access token that expires after 24 hours and a refresh token is used to update this token. This task is intended to ensure all requests are authorized with a valid access token once user has paired a device. To do so, we have to check if the access token is still valid before performing a request. If not, a new access token is requested to the server using the refresh token an

[2016-10-19 04:14] gnif opened #382 "Debian package missing python SSL support"
The version of python in the debian release has not been compiled with SSL support.

[code]

[code]

[code]

[code]

[2016-10-23 17:41] matheuslima opened #383 "Change google STT request to use "limit" parameter"
Google STT integration has now a parameter to limit how many results are fetched by the API.

[2016-10-24 14:48] aatchison opened #385 "NPR News Stopped Playing"
It seems that mpg123 is unable to play the NPR news mp3 stream becasue the link has changed to https and doesn't resolve.

[2016-10-24 15:11] aatchison commented on #385
Fix in master branch:
https://github.com/MycroftAI/mycroft-core/pull/386
Fix in dev branch:
https://github.com/MycroftAI/mycroft-core/pull/387

[2016-10-24 15:11] #385 closed

[2016-10-27 14:59] #356 closed

[2016-10-27 14:59] #353 closed

[2016-10-27 14:59] #352 closed

[2016-10-27 14:59] #354 closed

[2016-10-27 14:59] #349 closed

[2016-10-28 21:57] penrods commented on #358
This has been corrected in the enclosure code partially.  There is still an issue when the menu is open, so I'm leaving this open for now.

[2016-11-09 00:33] danielfppps opened #389 "Pairing is not working (ubuntu 16.04 LTS)"
I have installed mycroft from the github repository following the instructions given in the github readme. After calling mycroft it talks and gives me the 6 character ID to register, I then go to https://cerberus.mycroft.ai/register and input this code and I get the following message:

"Failed to pair with device"

The file ~/.mycroft/identity/identity.json is generated. If I delete it the file an

[2016-11-09 00:36] #389 closed

[2016-11-12 14:40] jgbreezer commented on #318
I agree; last year I had a go at making a mycroft-like intent-parsing system (also in python) for a relatively small set of operations and added this weighting to match-confidences for the same reason.
It worked well, though I also weighted matches on how close to the beginning of the phrase they were (or actually, based on where the next set of unparsed words started from the words received). Eac

[2016-11-13 00:12] clusterfudge commented on #318
Adapt yields parse results in order of "most coverage of utterance", which is not necessarily in order of highest confidence. When computing confidence, regexes are weighted lower based on their inaccuracy, and all matches (regex or entity literal) have a confidence based on percentage of utterance represented. The latest release of Adapt (v0.3.0) will optionally expose the confidence of the indiv

[2016-11-20 00:53] jgbreezer commented on #268
Espeak does support SSML and I'd like to see that supported too, from that side its a case of just enabling it with a flag. I wrote some filtering for my own mycroft-like system that automatically added SSML to some patterns which did help a bit. You don't have to use it but aware skills could pass in an ssml flag as an "extra" to the message to indicate the speaking service should process it if i

[2016-11-20 21:35] forslund commented on #268
@thecodingwizard (you have probably already figured this out but in case you haven't) Regarding the `from mycroft.tts import xxx`, this is a relative path from the top of the mycroft -core directory. If you place your file in the `mycroft/tts` directory it should be able to be included using

`from mycroft.tts import imb_tts`

See https://github.com/MycroftAI/mycroft-core/pull/367 for an example h

[2016-12-06 23:08] augustnmonteiro opened #391 "Send enclosure and core version on device activate"
On device activate send enclosure and core version to tartarus

[2016-12-09 19:21] ethanaward opened #393 "Unable to connect to some wifi networks"
The wifi setup client does not work with wifi networks that require  a username/password or those that have captive portals.

[2016-12-11 00:08] joshua-montgomery commented on #318
This bug appears to be fixed.

[2016-12-11 00:08] #318 closed

[2016-12-11 00:12] joshua-montgomery opened #394 "ALSA Music Playback, Device Release & Blocking"
When playing back music using Pianobar the process grabs the device and won't share.

If you adjust the volume or Mimic renders sound while Pianobar is playing, the audio is cached and isn't played until Pianobar releases the hardware device (which happens between songs).

When the hardware device is released, the sound plays, but Pianobar (which is between songs remember) tries to grab the hardwa

[2016-12-12 16:41] augustnmonteiro opened #395 "Create configuration skill to sync tartarus config"
- Create configuration skill to sync tartarus config
- Schedule skill to auto update config based on time configured

[2016-12-13 03:00] augustnmonteiro opened #397 "Fix news skill"
News skill isn't getting news

[2016-12-15 21:46] joshua-montgomery opened #399 "Reset Password from Faceplate"
Lets impliment a new feature that lets you reset the pi user password from the faceplate.

Select "Reset Password" and the faceplate displays it ( while Mycroft says it out loud ).  Then call the passwd feature.  Also: can someone please check to make sure that - if the root account has a login shell - that the password is randomized on first-boot.

Use only non-ambiguous characters. ( NOT 0OI1 et

[2016-12-15 23:25] ethanaward opened #401 "Mismatch between `oh` and `zero` when pairing"
When pairing, Mycroft will say `oh` when pronouncing the number 0, which leads to errors when attempting to enter the pairing code.

[2016-12-16 17:29] aatchison opened #403 "Update License.md and file headers to Apache 2.0"
This is in reference to:
https://github.com/MycroftAI/mycroft-core/pull/400

[2016-12-16 18:32] aatchison opened #406 "Add configuration (dev branch) for tts binary paths."
I need top specify the path to the TTS engine when packaging them separately .

[2016-12-16 22:54] Cliabhach commented on #403
Cross references to associated PRs:
#404
#405

[2016-12-17 15:33] #380 closed

[2016-12-17 15:34] #383 closed

[2016-12-17 15:34] #397 closed

[2016-12-17 15:34] #391 closed

[2016-12-17 15:35] #395 closed

[2016-12-17 15:35] #350 closed

[2016-12-18 04:47] BongoEADGC6 opened #407 "third party skills directory"
Previously there was a setting for "third_party_skills_dir" in mycroft.ini.

Recently, the setting has been removed as it recognizes the new mycroft.conf config file.

Is there a way to work on skills in an outside directory again?

Thanks

[2016-12-18 05:15] aatchison commented on #407
I believe that you can do it here
https://github.com/MycroftAI/mycroft-core/blob/master/mycroft/configuration/mycroft.conf#L8

[2016-12-18 17:08] BongoEADGC6 commented on #407
I tried to change that setting and still get nothing. I've also placed my previously working skill into the ~/.mycroft/skills directory and it doesn't recognize it. Has something changed in the newest merge that broke that third party skills directory?

[2016-12-18 19:08] penrods commented on #407
My recommendation for Skills is here:

THIRD_PARTY_SKILLS_DIR = "/opt/mycroft/skills"

Regardless of what user is running Mycroft, that should work.

[2016-12-18 20:36] bengjerstad opened #408 "Not registering with home.mycroft.ai"
I am having the same problem as [this user](https://community.mycroft.ai/t/how-t-register-device-on-https-home-mycroft-ai/1095).

Every time I type my code into the Registration Code box on https://home.mycroft.ai/#/device/add?_k=XXXXX, it says "Code doesn't look right. Check for typos." I have double checked the code from the log, but it is not working. When I stop and start the services, it will

[2016-12-19 11:45] bengjerstad commented on #408
I just re-cloned the repo and reinstalled, because I noticed that I had a .ini config file instead of a .conf file.

It worked this time, so I guess the code I was using a few days ago was before the API switch.

[2016-12-19 11:45] #408 closed

[2016-12-19 17:44] BongoEADGC6 commented on #407
Looks like I've found my error with my skill.

~/.mycroft/skills works just fine. I had an error due to the new API. Works like a charm now!

[2016-12-19 17:44] #407 closed

[2016-12-19 17:44] aatchison commented on #407
Wahoo!

[2016-12-19 17:46] jdorleans commented on #407
Good to know!!

[2016-12-19 17:47] jdorleans commented on #408
Thx a lot for the feedback... keep it going!!

[2016-12-19 19:41] aatchison opened #409 "Add cli client to mycroft-base-setup.py"

[2016-12-19 21:29] JenteA opened #410 "install_pygtk.sh cd: too many arguments"
When running ./dev_setup.sh on Arch Linux the script gives an error when wanting to run script install_pygtk.sh
line 72 cd: too many arguments
line 73 ./configure file or directory doesn't exist
make: *** No targets given and no Makefile found.  Quit.
make: *** There is no rule to make target Install.  Quit.

[2016-12-20 00:01] aatchison opened #411 "wifi-setup-client needs to be altered to point to the correct web socket."

[2016-12-20 00:22] aatchison commented on #409
PR:
https://github.com/MycroftAI/mycroft-core/pull/413

[2016-12-20 00:23] aatchison commented on #411
PR: https://github.com/MycroftAI/mycroft-core/pull/412

[2016-12-20 00:27] #411 closed

[2016-12-20 00:27] #409 closed

[2016-12-20 00:41] aatchison commented on #406
Nothing needed to be done, thanks.

[2016-12-20 00:41] #406 closed

[2016-12-20 00:42] aatchison commented on #403
@penrods, shall I close this issue, or does it require further discussion?

[2016-12-20 00:44] aatchison commented on #382
Interesting. Are you still having this issue?

[2016-12-20 00:45] aatchison commented on #379
This is a good question. I think that we might need better unit test coverage in order to let CI handle it. Any ideas?

[2016-12-20 00:46] aatchison commented on #366
We have just now updated master with some changes that were blocking development. If someone wanted to spearhead the migration effort, please do.

[2016-12-20 00:48] aatchison commented on #373
Perhaps we should just clear the screen after a successful pair. Now that we have the pairing skill, Mycroft knows when he has been activated. I think it would only be a matter of sending a request to the enclosure client to clear the screen.

[2016-12-20 01:18] gnif commented on #382
I recompiled the package with SSL support which I have been using since, I do not recall exactly what I did, I believe it was simply install the -dev headers and adjust debian/rules to configure to build with ssl.

[2016-12-20 04:42] penrods commented on #403
Keep it open, we need to change the licensing around the interfaces that are needed by Skill writers (the Skill API) to GPLv3 with Classpath Exception.  See an in-depth discussion of my reasoning at:
http://softwareengineering.stackexchange.com/questions/119436/what-does-gpl-with-classpath-exception-mean-in-practice/326325#326325
And don't just take my word for it, the LGPL is legally ambiguous ou

[2016-12-20 14:06] af7567 commented on #410
I just got this same error on Slackware.  The problem is that the script downloads pygtk to pygtk.tar.bz2, extracts it, and then tries to cd to pygtk* which expands to "cd pygtk.tar.bz2 pygtk-2.24.0"

I changed install-pygtk.sh
[code]

to

[code]

and trying again

[2016-12-20 16:40] Hadjimina commented on #410
Can confirm that simply adding `rm pygtk.tar.bz2` in mycroft-core/scripts/install-pygtk.sh works. pygobject & py2cairo both worked on my system without adding this fix.

[2016-12-20 17:52] aatchison opened #414 "Pip easy_install requires sudo in dev_setup.sh"
I'm not sure when this changed, but I'm having problems using the dev setup script without sudo on a Raspbian image. `sudo easy_install pip` is working, but I wonder if it's necessary.

error: can't create or remove files in install directory

The following error occurred while trying to add or remove files in the
installation directory:

    [Errno 13] Permission denied: '/usr/local/lib/python2.7

[2016-12-20 18:14] JenteA commented on #410
It works thank you but I now do get another error
![test-1](https://cloud.githubusercontent.com/assets/14938500/21362393/7feb1bf0-c6e8-11e6-96f3-ed6bdc7369b6.jpg)

[2016-12-20 19:13] jdorleans commented on #414
That's weird... shouldn't the dir be `/usr/bin/python`? Could you try that instead?

[2016-12-20 19:17] penrods opened #416 "Can't change the volume on a Mark 1 unit"
Can't change the volume on a Mark 1 unit.  Turning the knob bounces between the first and second indicator lights, volume stays very high.

[2016-12-20 19:22] #351 closed

[2016-12-20 19:41] aatchison opened #417 "Pep8 errors fail travis."
mycroft/__version__.py:1:8: E225 missing whitespace around operator
mycroft/version/__init__.py:33:80: E501 line too long (83 > 79 characters)
mycroft/version/__init__.py:38:80: E501 line too long (89 > 79 characters)
mycroft/skills/core.py:142:21: E127 continuation line over-indented for visual indent
mycroft/skills/configuration/__init__.py:57:80: E501 line too long (95 > 79 characters)
mycroft/

[2016-12-20 20:04] aatchison commented on #414
It seems that we are installing pip several times, once in the build hosts setup, once in the dev_setup, and they don't play well together.

[2016-12-20 20:42] ethanaward commented on #417
Fixed.

[2016-12-20 20:42] #417 closed

[2016-12-20 20:45] aatchison opened #421 "Install pip once only?"
We install pip twice in a dev workflow, once in build_host_setup_*.sh and another time in ./dev_setup.sh

[2016-12-20 20:51] aatchison commented on #421
This is what I'm seeing.
1. We install pip system-wide.
2. Install virtualenv
3. Create virtualenv for mycroft
4. easy_install pip again, to ensure the version

This used to be fine, but now this issue regarding easy_install and sudo
https://github.com/MycroftAI/mycroft-core/issues/414
I'm installing with sudo now, but kind of defeats the purpose of having a project specific development environmen

[2016-12-20 21:05] clusterfudge commented on #421
build_host_setup installs pip as a system wide dependency; it is a transitive dependency of virtualenv.

In dev_setup, we install pip at a fixed version (inside the mycroft virtualenv) for consistency. Using sudo would install pip outside the virtualenv, which would not affect anything that happened inside the virtualenv. The issue in #414 is likely that virtualenv creation or activation failed, s

[2016-12-20 21:07] clusterfudge commented on #414
easy_install is used to install pip at a fixed version inside the virtualenv. If easy_install is complaining that it needs permissions to install/upgrade pip, that means that the bash session inside dev_setup is not currently operating within the virtualenv. Either virtualenv was not properly installed by build_host_setup, the virtualenv failed to create for some reason, or the virtualenv failed t

[2016-12-20 21:08] aatchison commented on #421
Thanks for untangling my brain on that one

[2016-12-20 21:15] #421 closed

[2016-12-20 22:49] #416 closed

[2016-12-20 22:51] aatchison commented on #414
Awesome, thank you.

[2016-12-20 22:53] #414 closed

[2016-12-21 00:27] aatchison opened #423 "Point wifi-setup-client register button to home.mycroft.ai"

[2016-12-21 00:56] aatchison opened #425 "It seems that the enclosure client cannot start on boot (Mark I)"

[2016-12-21 05:10] jdorleans opened #426 "TTS web socket is not initialized properly"
The TTS web socket connection is not initialized properly preventing mimic visime codes to be sent to the enclosure client.

[2016-12-21 12:46] jswalls110 opened #428 "Pairing issue"
I have setup Mycroft on a RPi 3.

I am trying to pair it and I keep getting the message
"The code doesn't look right. Check for typos."

It is a 4 digit code. It includes an "Oh". I have tried 0 and O. I have tried upper and lower case. I have tried the old pairing site. I have tried for 2 days with 3 different codes, rebooted 4-5 times.

No good.

Help!

[2016-12-21 14:35] jswalls110 commented on #428
Just found another post about apt packages have to use cerberus.

2 different codes have now told me Failed to pair device.

[2016-12-21 14:53] jswalls110 commented on #428
BTW your docs say Mycroft utters a 6 digit code.

I've only ever gotten 4 digits.

[2016-12-21 14:59] jdorleans commented on #428
The pairing code are 6 alpha numeric and upper case characters

[2016-12-21 15:00] jswalls110 commented on #428
I now see that when looking at the skills log.

But mycroft is only uttering 4 in all instances.

[2016-12-21 15:01] jswalls110 commented on #428
Even when I enter the code as seen in the log it tells me it is wrong.

[2016-12-21 15:03] jswalls110 commented on #428
FINALLY home.mycroft.ai has registered me. But I had to read the code off the log not hear it.

[2016-12-21 15:03] #428 closed

[2016-12-21 15:04] jdorleans commented on #428
Notice that the log is not precise regarding the code itself. I bet you are typing periods and spaces. They are not acceptable. Remove any period and space.

[2016-12-21 15:07] seanfitzgeraldsc opened #429 "Sanitizing of pairing codes"
per #428 , @jdorleans indicates that the web ui will accept invalid pairing codes. Users trying to fetch the codes from their device logs will enter them as logged (including spacing and punctuation intended for TTS). Converting them (either in the web UI or on server side receipt) to strip non-alphanumeric characters and validate expected code length would provide a better user experience and hig

[2016-12-21 15:09] jswalls110 commented on #428
I am an IT guy so I know about dots and spaces.
I am just saying that what is said by the front end (4 digits) is not what is seen in the log (6 digits).
I never would have noticed if I hadn't gone back and reread the docs.

[2016-12-21 15:17] jdorleans commented on #428
@jswalls110 agreed. It would be really helpful if you could share some of the logs you were seing so it helps us to track any possible issue or improve it in case of misleading.

[2016-12-21 15:26] jdorleans commented on #429
Thx for the suggestion @seanfitzgeraldsc. We're doing exactly that. It is coming this next release in the end of the week.

[2016-12-21 15:29] #423 closed

[2016-12-21 15:39] jswalls110 commented on #428
Here you are.
Some examples:
I heard 8WUA. Log says:  S. 8. W. 5. U. A
I heard AKLF. Log says: 8. E. K. L. P. F
I heard 4YYA. Log says: G. 4. Y. 5. Y. A
I heard: b3ij. Log says: B. B. 3. F. I. J
And so one. Some times it prompted me and I was busy so I didn't try.
[mycroft-skills.zip](https://github.com/MycroftAI/mycroft-core/files/666725/mycroft-skills.zip)

[2016-12-21 21:27] penrods commented on #425
The client doesn't start on boot due to the way it attempts to update itself.  This process is going to be removed from the enclosure-client, instead being a responsibility of the init.d script that launches the enclosure-client.  In other words, it is that script's responsibility to make sure that the enclosure is ready before it launches the client.

[2016-12-21 23:23] aatchison commented on #426
This is done? May I close it?

[2016-12-22 15:38] jswalls110 opened #431 "Asking Mycroft for the time generates error"
RPi 3 Mycroft apt-get upgraded mycroft-core this morning

When I ask Mycroft for the time it generates the following error:

2016-12-22 10:35:12,878 - SpeechClient - INFO - Wakeword Detected: hey mycroft
2016-12-22 10:35:12,933 - requests.packages.urllib3.connectionpool - INFO - Starting new HTTPS connection (1): api.mycroft.ai
2016-12-22 10:35:13,496 - requests.packages.urllib3.connectionpool - D

[2016-12-22 20:25] jswalls110 commented on #431
From the skills log file:

2016-12-22 14:51:32,311 - mycroft.skills.core - ERROR - An error occurred while processing a request in TimeSkill
Traceback (most recent call last):
  File "/usr/local/lib/python2.7/site-packages/mycroft_core-1482384270-py2.7.egg/mycroft/skills/core.py", line 200, in receive_handler
    handler(message)
  File "/usr/local/lib/python2.7/site-packages/mycroft_core-14823842

[2016-12-22 20:37] jswalls110 commented on #431
This is solved by:

Run the command sudo dpkg-reconfigure tzdata . Use the up/down arrows to select the appropriate location and press enter. Use the up/down arrows (again) to select the appropriate timezone (closest city in your timezone) and press enter. The Raspberry Pi will acknowledge the timezone change

You can then choose the appropriate tz instead of a SystemV timezone

[2016-12-22 20:37] #431 closed

[2016-12-25 12:22] akacipher commented on #401
Yeah that is the mimic issue or more accurately I'll bet on the voice you are using, some people use to say
letter 'o' when they actually mean zero. For now try different voice or change the TTS engine, this worked for me.

[2016-12-27 13:00] rafamanzo commented on #244
I've come with something primitive at:
* https://gitlab.com/rafamanzo/aur-mycroft-core
* https://aur.archlinux.org/packages/mycroft-core/

It is just the minimal to get it working and probably have many issues for which my system is biased.

I don't have plenty of time to keep it updated, so if someone wants to adopt it, please let me know!

[2016-12-27 22:33] penrods opened #434 "Conflict between new and old system over identity.json"
Pairing codes are different for Cerberus and Home, but they both use the same identity.json.  So if you are switching back and forth from old to new (e.g. debugging a Skill) you have to go back to re-pair every time.

I think using a different file for the new code will fix this,  e.g. "identity2.json"

[2016-12-27 23:19] #425 closed

[2016-12-27 23:19] #426 closed

[2016-12-28 21:01] aatchison commented on #434
https://github.com/MycroftAI/mycroft-core/pull/435

[2016-12-28 21:01] #434 closed

[2016-12-28 22:47] aatchison commented on #429
We should be good here.

[2016-12-28 22:47] #429 closed

[2016-12-28 22:48] aatchison commented on #410
I believe this issues is fixed. Re-open if otherwise.

https://github.com/MycroftAI/mycroft-core/pull/432

[2016-12-28 22:48] #410 closed

[2016-12-29 23:16] nilsseipel opened #438 "Integrate KaldiSTT with a local kaldi gstreamer server into mycroft"
I'm currently working on this and got a solution. Maybe need some help implementing it correctly.

[2016-12-30 17:06] markwmuller opened #441 "Weather skill ignores temperature units"
Hi
I'm unsure if I'm missing something obvious, by I'd like Mycroft to give me the temperature in celsius. There's a setting in mycroft.conf, "WeatherSkill":"temperature" which by default is set to "fahrenheit".

I've tried changing it to "celsius" and "centigrade", but without success. I know my conf file is read, because I've successfully updated the location.

The "api_key" is currently empty i

[2016-12-30 17:12] markwmuller commented on #441
Sorry, false alarm. It works fine.

[2016-12-30 17:12] #441 closed

[2016-12-30 17:15] aatchison commented on #441
No apologies needed, thanks for the feedback!

[2016-12-31 13:40] ciddu2000 opened #442 "ImportError: No module named recognizer_wrapper"
hello everyone, i just Set up the development environment by following the method describe here : "https://docs.mycroft.ai/development/getting.started", i'm using linux mint 18.1 with cinnamon desktop environment.

i can't get it working for the moment, when i run the command "./mycroft.sh start" i ve got this error :

Mycroft service started
Mycroft skills started
mycroft-voice failed to start. T

[2017-01-02 16:28] aatchison commented on #442
Hmm, were you able to run the `dev_setup.sh` script? That looks like you are missing some pip requirements. You might try:
`workon mycroft`
`pip install -r requirements.txt`

[2017-01-03 17:24] ciddu2000 commented on #442
so here's what i did :
i had to copy the content of that file : http://programtalk.com/vs2/?source=python/8955/mycroft-core/mycroft/client/speech/recognizer_wrapper.py
in my mycroft-core directory
then there was still an error telling there was a cli.py file missing, so i copy the content of that file : http://programtalk.com/vs2/?source=python/8955/mycroft-core/mycroft/client/text/cli.py
and then

[2017-01-04 22:49] nazarimilad opened #444 "HTTPError(u'The supplied authentication is invalid',)"
After downloading Mycroft Core, installing the development environment and running './mycroft.sh start', I get an error when I try to start the service process with './start.sh service'. I get the following error:

`Starting service
2017-01-04 23:45:05,995 - requests.packages.urllib3.connectionpool - INFO - Starting new HTTPS connection (1): api.mycroft.ai
2017-01-04 23:45:06,875 - mycroft.configu

[2017-01-04 22:54] aatchison commented on #444
Hello!
`mycroft.sh start` and `./start.sh $service_name` actually do the same things.
I'm assuming that since you started all services in screen instances with `mycroft.sh start`, the message bus service is already running and therefore creating a conflict.

I personally like to use start.sh, so I can see the output of logs directly and start/stop them individually but mycroft.sh does some nice th

[2017-01-04 22:56] aatchison commented on #444
Also, the supplied authentication error is normal, it will do that until you pair the instance at `home.mycroft.ai`

[2017-01-04 22:58] nazarimilad commented on #444
Oh that makes sense, thanks for the fast answer and the explanation!

[2017-01-04 22:58] #444 closed

[2017-01-04 22:59] aatchison commented on #444
No problem, thanks for trying Mycroft! Let us know of any more issues you encounter.

[2017-01-08 19:37] danielquinn commented on #366
Do we know if the Python2 requirement is on Mycroft's end or on one of the dependencies?  'Cause it's just in Mycroft, I'm willing to bet that [futurize](http://python-future.org/automatic_conversion.html#futurize-py2-to-py2-3) will go a long way to making things work in both Python 2 and 3.

[2017-01-09 05:33] penrods commented on #366
I believe the last time we looked into porting to Python 3 there were some dependency reasons.    But that has been quite a while ago, so may be cleared up now.  I'll check around to see if anyone recalls what pieces weren't ready at that time.

[2017-01-09 13:43] marksev1 opened #445 "Add scheduled triggering of skills (events)"
Please add time and date scheduled triggering of skills.

For example the "Report" skill (when it will be available), which would give a nice morning digest to the user, that it could be set to trigger every morning at a specific time (workdays, weekdays) etc.

[2017-01-09 18:51] the-kid89 commented on #366
Things have been a bit busy on my end so I have not been able to start yet but once things get stable again I plan to start a Python3 branch of this repo. The plan would be to slowly update the repo to be compatible with 2 and 3.

[2017-01-10 01:50] the-kid89 commented on #366
So far its going rather smooth.

[2017-01-10 05:29] the-kid89 opened #447 "Unittests never seem to finish running"
[code]

[2017-01-10 06:34] the-kid89 commented on #447
Update with further log information:

[code]

[2017-01-11 20:33] aatchison opened #448 "Update pip requirements; debian requirements"
Some of our versions are getting old and could use an update.
There are also a few packages  in the build host setup that I don't think we actually need in the core.

[2017-01-11 20:47] aatchison opened #449 "Add skill_container to base.py"
We should add the skill_container entry point for distribution in packages.

[2017-01-13 22:06] aatchison opened #452 "Authorization token is not updated when expired..."
causing this issue.

2017-01-13 22:01:37,093 - mycroft.client.speech.listener - ERROR - Could not request Speech Recognition recognition request failed: Forbidden

[2017-01-13 22:11] aatchison commented on #343
We have addressed this in the latest release.

[2017-01-13 22:11] #343 closed

[2017-01-13 22:13] aatchison commented on #123
I think that we are making skills progress in multiple directions here, all of which reside outside of the core code in https://github.com/MycroftAI/mycroft-skills.

[2017-01-13 22:13] #123 closed

[2017-01-13 22:14] aatchison commented on #346
My previous comment was incorrect, we don't use systemd units in the apt packages. Regardless this is something more appropriate for the packaging repo (we will make it public soon.)

[2017-01-13 22:16] aatchison commented on #304
I'm closing this due to age.

[2017-01-13 22:16] #304 closed

[2017-01-13 22:17] aatchison commented on #90
This should be part of our CI project instead.

[2017-01-13 22:17] #90 closed

[2017-01-13 22:18] aatchison commented on #137
There are now several calendar skills in the https://github.com/MycroftAI/mycroft-skills repository.

[2017-01-13 22:18] #137 closed

[2017-01-13 22:18] aatchison commented on #138
There is now an MQTT skill in the https://github.com/MycroftAI/mycroft-skills repository.

[2017-01-13 22:18] #138 closed

[2017-01-13 22:19] aatchison commented on #191
This was addressed in the Mark 1 enclosure repo

[2017-01-13 22:19] #191 closed

[2017-01-13 22:19] aatchison commented on #238
We now have a skill for Hue in https://github.com/MycroftAI/mycroft-skills

[2017-01-13 22:19] #238 closed

[2017-01-13 22:20] aatchison commented on #226
Closing in favor of newer issues.

[2017-01-13 22:20] #226 closed

[2017-01-13 22:21] aatchison commented on #182
Skills related issues should now probably reside in https://github.com/MycroftAI/mycroft-skills

[2017-01-13 22:21] #182 closed

[2017-01-13 22:22] aatchison commented on #276
Closing to age and perhaps relevance.

[2017-01-13 22:22] #276 closed

[2017-01-13 22:22] aatchison commented on #358
How are we doing here?

[2017-01-13 22:25] aatchison commented on #201
I believe this is ok for now, and core skills priorities / location have changed.

[2017-01-13 22:25] #201 closed

[2017-01-13 22:30] aatchison commented on #244
It looks like the mission is accomplished, though it probably needs to be maintained.

[2017-01-13 22:30] #244 closed

[2017-01-13 22:31] aatchison commented on #442
Did you make any progress?

[2017-01-13 22:32] aatchison commented on #278
Skills issues such as this should no longer be part of the core repository and instead created in https://github.com/MycroftAI/mycroft-skills

[2017-01-13 22:32] #278 closed

[2017-01-13 22:32] aatchison commented on #401
Merged, closing

[2017-01-13 22:32] #401 closed

[2017-01-13 22:33] aatchison commented on #445
This is a good idea!

[2017-01-13 22:34] aatchison commented on #382
Awesome, closing

[2017-01-13 22:40] aatchison commented on #268
:bump:

[2017-01-13 22:41] aatchison commented on #262
This is very interesting, and as we are moving closer to a skills delivery system, we should keep this in mind.

[2017-01-13 22:48] aatchison commented on #317
This issue was resolved a while back.

[2017-01-13 22:48] #317 closed

[2017-01-13 22:49] aatchison commented on #282
This references another code base and is the enclosure client now behaves quite differently, including the addition of visemes.

[2017-01-13 22:49] #282 closed

[2017-01-13 22:50] aatchison commented on #151
As the listener has been refactored and this is a very old issue, closing.

[2017-01-13 22:50] #151 closed

[2017-01-13 22:51] aatchison commented on #218
Thanks, closing

[2017-01-13 22:51] #218 closed

[2017-01-13 22:52] aatchison commented on #153
I think that we are covering this, and adding more build hosts scripts as we go.

[2017-01-13 22:52] #153 closed

[2017-01-14 04:14] gnif commented on #382
Why close this, what I did was a hack to work around the broken package? The problem is not fixed.

[2017-01-14 04:31] aatchison commented on #382
Oh, I misunderstood you then, sorry.

[2017-01-14 08:52] marksev1 commented on #253
I think this should be closed since there is now a MQTT Skill available which could be used as a generic home automation skill.

[2017-01-15 03:53] nullr0ute commented on #346
I actually think shipping it as part of the core is completely relevant

[2017-01-15 04:02] aatchison commented on #346
Cool! Opening again.

[2017-01-15 10:25] marksev1 commented on #346
Someone could test this, I'm lazy currently :), but maybe i will..(here are systemd units by manzo): https://gitlab.com/rafamanzo/aur-mycroft-core/tree/master

[2017-01-15 18:29] rafamanzo commented on #346
I can say that the restart is not working properly yet: https://gitlab.com/rafamanzo/aur-mycroft-core/issues/2

[2017-01-15 18:32] aatchison commented on #346
I think that the problem here is that once the start.sh script launches a process, the PID is no longer tracked. This would be solved by creating standalone bdists from the mycroft-base-setup.py and running them directly.

[2017-01-15 18:37] aatchison commented on #346
This is how we are packaging for Debian
https://gist.github.com/aatchison/6356a9773e3bbd0c426eebabf34de1c1#file-gistfile1-txt-L29

[2017-01-15 18:57] aatchison commented on #346
Also, while I'm thinking about it...
The start.sh script basically just enters the virtualenv and the runs a python script. What if you did similar and bypasses the start.sh script? Then you might be able to control the python process directly instead of spawning one from the bash script?
https://github.com/MycroftAI/mycroft-core/blob/dev/start.sh#L6

[2017-01-17 02:00] twosky2000 opened #455 "lower Volume says Volume at max"
I tried the new mycroft image for my Raspberry PI 3 and when i try to lower the Volume it says Volume at (already) max

[code]
Says Volume already at max

[2017-01-17 20:28] augustnmonteiro opened #456 "Figure out why sometimes token isn't refreshed"
- In some specific case the accessToken is not refresh and block the user to use some features

[2017-01-18 03:31] penrods opened #457 "Wifi setup process broken in release 0.8"
The wifi setup process is broken in release 0.8

[2017-01-18 03:38] aatchison commented on #457
Want to hotfix?

[2017-01-18 04:27] penrods commented on #457
Let's just roll it out with this Thursday's release

[2017-01-19 14:09] penrods commented on #457
I "slipstreamed" this into the same link.  So if you download it again you'll get this fix now.  Also, the next update will automatically be downloaded and applied if you have a working Picroft installation that is already online.

[2017-01-19 15:30] clccmh commented on #363
Due to network changes, I can no longer test this issue.

[2017-01-19 15:30] #363 closed

[2017-01-19 17:15] nmaas87 commented on #457
@penrods Thank you very much, I will try it again next week, I could not install Picroft as the Wifi Setup did not work :)

[2017-01-19 17:49] kfezer opened #460 "Phonetic Alphabet for Code Speach"
Update the Pairing Skill to Speak the Phonetic Alphabet instead of letters.

Avoids confusing homoglyphs.

[2017-01-19 19:58] penrods opened #461 "Timeout is too long when not connected to a network"
When a device is completely disconnected from all networks (like during the first run of a device which has yet to be setup on the wifi), when creating all websocket creations it attempts to pull down a remote config which uses the default timeout of 2 minutes.  This is WAY to long.

[2017-01-20 21:25] aatchison commented on #456
Duplicate issue
#452

[2017-01-20 21:25] #456 closed

[2017-01-20 21:27] aatchison opened #464 "SSL3 write pending error (need to update the requests package)"
2017-01-19 15: 49: 42,591 - mycroft.client.speech.listener - ERROR - [('SSL routines', 'SSL3_WRITE_PENDING', 'bad write retry')]

[2017-01-20 21:41] #464 closed

[2017-01-20 21:41] #457 closed

[2017-01-20 21:50] #447 closed

[2017-01-20 22:07] penrods opened #466 "Stop splitting at period on Picroft"
On a Raspberry Pi, the ALSA system is locking up occasionally for 30 seconds.  Ultimately, this is a probably due to the way the Pi uses system times and PWM to generate audio.  But as a hack to reduce the hassle, I'm stopping the split at periods when enclosure.platform == 'picroft'.

[2017-01-20 22:15] #461 closed

[2017-01-20 22:18] #466 closed

[2017-01-20 23:40] ethanaward opened #468 "Unit tests fail on clean install"
The unit tests (./start.sh unittest) currently fail by default.

[2017-01-21 19:29] tmajibon opened #469 "Confirmation Tones"
Something that's a little off-putting about Mycroft, and exacerbated by my home internet being crappy is the lack of immediate acknowledgement is the lack of confirmation tones.

What seems to be a standard in other virtual assistant software (as far as I can tell) is to make a tone confirming that it heard the keyword, and a tone after it is done collecting the speech.

Due to lagginess and incon

[2017-01-21 19:51] shiribailem opened #470 "Local STT Fallback?"
I don't know how much effort this would take, or how much interest there may be in this.

While I understand that the typical local (offline) STT systems are not as good at recognition as the systems currently used, I would still both like the option to use them as well as an option to fallback if the online services take too long to response. (Also if the service goes down for whatever reason)

P

[2017-01-21 19:56] h4wkmoon opened #471 "unable to register"
Hi,
I've just installed successfully mycroft with dev_setup.sh
mycroft asks me to register to home.mycroft.ai.
But, the add_device web page does not react when I type my id in the input box.

Javascript error :
`The page at 'https://home.mycroft.ai/#/device/add?_k=ri6gbz' was loaded over HTTPS, but requested an insecure resource 'http://localhost:8888/'. This request has been blocked; the content

[2017-01-21 21:25] tmajibon commented on #469
Found the spot and submitted a pull request.

#472

[2017-01-21 21:25] #469 closed

[2017-01-23 17:06] forslund opened #473 "Mycroft is silent if enclosure/platform isn't configured"
The platform check in `handle_speak` will fail if the `platform` or `enclosure` is missing from the config. For me it seems like the platform value isn't set.

[2017-01-23 21:48] #473 closed

[2017-01-26 22:40] kfezer opened #478 "Add "Show Password Button" to WiFi Setup"
Add a "Show Password Button" to WiFi Setup process. This will allow a user to double check their password if they are using a mobile device, as per the norm with passwords.

[2017-01-27 02:56] augustnmonteiro opened #479 "Shutdown all skills on process termination"
- When mycroft-core is stopped it won't stop because have some timer threads running

[2017-01-27 03:04] augustnmonteiro opened #481 "Mycroft loops when restart service"
- When service is restarted and something is asked to mycroft it answer a lot of times the same question

[2017-01-27 22:34] JarbasAI opened #482 "stop intent detected but not triggering"
When playing news or my music skill stop does not work

the intent is correctly detected has i get the following in skills

2017-01-26 23:24:17,892 - Skills - DEBUG - {"type": "recognizer_loop:utterance", "data": {"utterances": ["stop"]}, "context": null}
2017-01-26 23:24:17,908 - Skills - DEBUG - {"type": "StopIntent", "data": {"StopKeyword": "stop", "intent_type": "StopIntent", "utterance": "sto

[2017-01-28 00:39] kfezer opened #483 "Mycroft doesn't add third party skills"
Mycroft isn't adding third party skills on the Raspberry Pi. It's an issue when Mycroft first boots to add skills.